// imports

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// colors

$black : rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(155, 155, 155);
$pink : rgb(255, 162, 178);

// repetitious codes

:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;

    ul {
        list-style-type: none;
    }

    a,
    a:visited,
    a:active {
        text-decoration: none;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// animation codes

@keyframes moonrotate {
    to {
        rotate: 36000deg;
    }
}

@keyframes meteorite {
    0% {
        top: -50px;
        left: -50px;
    }
    10% {
        top: 100%;
        left: 100%;
    }
    10.1%,
    100% {
        top: -100px;
        left: -100px;
    }
}
@keyframes meteorite2 {
    0% {
        top: 0;
        left: 120%;
    }
    10% {
        top: 100%;
        left: 0%;
    }
    10.1%,
    100% {
        top: 0;
        left: 120%;
    }
}

// mixin

@mixin stars($size) {
    >span {
        position: absolute;
        width: $size+#{'px'};
        height: $size+#{'px'};
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 0 10px white;
        z-index: 2;
    }

    @for $i from 1 through 100 {
        >span:nth-of-type(#{$i}) {
            top: random(100)+0%;
            left: random(100)+0%;
        }
    }
}