// fonts

@font-face {
    font-family: main;
    src: url('../fonts/SFNSDisplay-Light.otf');
}

@font-face {
    font-family: barker;
    src: url("../fonts/wg_barker.ttf");
}

@font-face {
    font-family: borel;
    src: url("../fonts/Borel-Regular.ttf");
}

@font-face {
    font-family: checkra;
    src: url("../fonts/ChakraPetch-Bold.ttf ");
}

// imports

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// colors

$black : #000000;
$h-bg : #202934;
$m-bg : #181D23;
$white: #ffffff;
$t-white: #cccccc;
$pink : #F668B4;

// custom scroll bar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $pink;
}

::-webkit-scrollbar-thumb {
    background: $pink;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
    border: 1px solid $pink;
    -webkit-box-shadow: inset 0 0 6px $pink;
}


// repetitious codes

:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    position: relative;
    z-index: -99;
    height: 200vh;

    >.pages-line{
      background-color: $pink;
        box-shadow: 0 10px 30px $pink;
    }

    ul {
        list-style-type: none;
    }

    a,
    a:visited,
    a:active {
        text-decoration: none;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-between {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

// animation codes

@keyframes moonrotate {
    to {
        rotate: 36000deg;
    }
}

@keyframes meteorite {
    0% {
        top: -50px;
        left: -50px;
    }

    10% {
        top: 100%;
        left: 100%;
    }

    10.1%,
    100% {
        top: -100px;
        left: -100px;
    }
}

@keyframes meteorite2 {
    0% {
        top: 0;
        left: 120%;
    }

    10% {
        top: 100%;
        left: 0%;
    }

    10.1%,
    100% {
        top: 0;
        left: 120%;
    }
}

@keyframes space-animation {
    from {
        background-position-x: -100%;
    }

    to {
        background-position-x: 100%;
    }
}

@keyframes textRotate {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes skillsDot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

@keyframes fadeInSkills{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

// footer lighting animation
@keyframes footerLightingFrist{
  0%{
    box-shadow: 0;
  }
  30%{
    box-shadow: 0 0 100px yellow,0 0 200px yellow;
  }
  70%{
    box-shadow: 0 0 200px yellow,0 0 300px yellow;
  }
  100%{
    box-shadow: 0 0 300px yellow,0 0 400px yellow;
  }
}

@keyframes footerLightingSecond{
  0%{
    box-shadow: 0;
  }
  30%{
    box-shadow: 0 0 100px $pink,0 0 200px $pink;
  }
  70%{
    box-shadow: 0 0 200px $pink,0 0 300px $pink;
  }
  100%{
    box-shadow: 0 0 300px $pink,0 0 400px $pink;
  }
}

@keyframes footerLightingThird{
  0%{
    box-shadow: 0;
  }
  30%{
    box-shadow: 0 0 100px red,0 0 200px red;
  }
  70%{
    box-shadow: 0 0 200px red,0 0 300px red;
  }
  100%{
    box-shadow: 0 0 300px red,0 0 400px red;
  }
}

// mixin

@mixin stars($size) {
    >span {
        position: absolute;
        width: $size+#{'px'};
        height: $size+#{'px'};
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 0 10px white;
        z-index: 2;
    }

    @for $i from 1 through 100 {
        >span:nth-of-type(#{$i}) {
            top: random(100)+0%;
            left: random(100)+0%;
        }
    }
}

@mixin titletext {
    font-size: 10rem;
    font-weight: bolder;
    font-family: barker;
    letter-spacing: 20px;
    text-align: center;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url('../images/wp2793093-red-galaxy-wallpaper-hd.jpg');
    background-size: 100%;
    animation: textRotate 30s cubic-bezier(0.3, 0, 0.7, 1) infinite;

    @media screen and (max-width:1400px) {
        font-size: 10rem;
        letter-spacing: 5px;
    }

    @media screen and (max-width:903px) {
        font-size: 7rem;
        letter-spacing: 10px;
    }

    @media screen and (max-width:723px) {
        font-size: 5rem;
        letter-spacing: 5px;
    }

    @media screen and (min-width:1401px) {
        font-size: 14rem;
        letter-spacing: 5px;
    }
}

@mixin glass {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    width: 90%;
    // height: 90%;
    border-radius: 25px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.384), inset 0 0 20px 0px white;
    background: rgba(255, 255, 255, 0.205);
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        backdrop-filter: blur(3px);
        background-color: rgba(255, 255, 255, 0.247);
        z-index: -1;
        border: none;
    }

    border: none;
}

@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

// added classes

.clickMenuEffect {
    transform: translateX(-40px) !important;
    background-color: transparent !important;

    &::after {
        transform: translate(30px, 0)rotate(45deg) !important;
    }

    &::before {
        transform: translate(30px, 0)rotate(-45deg) !important;
    }
}

.box {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-3400px);
}

.show {
  opacity: 1;
  transform: none;
}
.showSkills {
  .dot{
    animation: skillsDot 2s linear forwards;
  }
  circle:nth-child(2){
    animation: fadeInSkills 1s 2.5s linear forwards;
  }
  .skills-title{
    animation: fadeInSkills 1s 2.5s linear forwards;
  }
}

// customize mouse styles
.cursor{
  width: 50px;
  height: 50px;
  background-image: url(../images/cursor.png);
  background-position: center;
  background-size: 150% ;
  border-radius: 50%;
  position: absolute;
  left: -500px;
  top: -500px;
  z-index: 999999;
  rotate: -90deg;
  transform: translateX(5px),translateY(5px);
}
