@import 'global';

header {
    width: 100%;
    height: 120vh;
    background-color: #202934;
    border: 1px solid red;
    -webkit-clip-path: polygon(100% 0, 100% 84%, 30% 100%, 0 85%, 0 0);
    clip-path: polygon(100% 0, 100% 84%, 30% 100%, 0 85%, 0 0);
    position: relative;

    >nav {

        >div:nth-of-type(1) {
            display: flex;
            font-size: 3rem;
            padding: 20px;

            >div:nth-of-type(1) {
                color: $white;
                margin-right: 5px;
            }

            >div:nth-of-type(2) {
                color: rgb(204, 204, 204);
            }
        }

        >div:nth-of-type(2) {
            color: $white;

            >svg {
                width: 40px;
                height: 40px;
                margin: 20px;
                position: fixed;
                left: 95%;
            }
            >div {
                 background-color: #181D23;
                 width: 100%;
                 position: fixed;
                 top: 80px;
                 left: 100%;
                 transform: translateX(-100%);
                 height: 400px;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 transition: .4s all cubic-bezier(0.075, 0.82, 0.165, 1);
                 visibility: hidden;
                 opacity: 0;
                 >ul{
                    >li{
                        height: 50px;
                        text-align: center;
                        width: 100px;
                        position: relative;
                        overflow: hidden;
                        transition: .4s;
                        >a{
                            text-transform: uppercase;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            width: 100%;
                            color: $white;
                            transition: .4s;
                            &::after{
                                content: 'go';
                                transition: .4s;
                                display: flex;
                                height: 100%;
                                width: 100%;
                                transform: translateY(50px);
                                position: absolute;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        &:hover{
                            >a{
                                transform: translateY(-50px);
                                // >a::after{
                                //     transform: translateY(50%);
                                // }
                            }
                        }
                    }
                 }
            }
            &:hover{
                >div{
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    >.stars {
        @include stars(1);
    }
    >.starsbig {
        @include stars(3);
    }
    >.starsvbig {
        @include stars(5);
    }
    >.meteorite{
        // @for $i from 1 through 2{
        //     >span:nth-of-type(#{$i}){

        //     }
        // }
        >span:nth-of-type(1){
            width: 50px;
            height: 5px;
            position: absolute;
            border-radius: 50%;
            transform: rotate(30deg);
            box-shadow: 0 0 20px $white;
            background-color: $white;
            opacity: .5;
            animation: meteorite 4s linear infinite forwards;
        }
        >span:nth-of-type(2){
            width: 80px;
            height: 5px;
            position: absolute;
            top: 0;
            left: 120%;
            border-radius: 50%;
            transform: rotate(150deg);
            box-shadow: 0 0 30px $white;
            background-color: $white;
            animation: meteorite2 2s linear infinite forwards 5s;
        }
    }

    >.background {

        >figure {
            position: absolute;
        }

        >.trees {
            bottom: 120px;
            width: 100%;
            z-index: 3;

            >img {
                color: black;
            }

            >div {
                background-color: #181D23;
                height: 300px;
                position: absolute;
                bottom: -270px;
                width: 100%;
            }
        }

        >.moon {
            top: 0;
            left: 70%;
            width: 20%;
            z-index: 4;
            animation: moonrotate linear infinite 2000s;
        }

        >.person {
            top: 38%;
            left: 20%;
            width: 10%;
            z-index: 5;
        }
    }

    >.text-header {
        display: flex;
        justify-content: center;
        margin-top: 100px;
        width: 100%;

        >.text-header-center {
            width: 30%;
            flex-direction: column;
            flex-wrap: wrap;
            height: 200px;
            >h1{
                font-size: 5rem;
                font-style: italic;
                color: white;
                margin-bottom: 20px;
                >span{
                    color: #F668B4;
                }
            }
            >a{
                text-align: center;
                padding: 15px;
                margin: 10px;
                text-transform: uppercase;
                transition: .4s;
                color: white;
                transform: translateY(8px);
                &:nth-of-type(1){
                    background-color: #F668B4;
                    border: 2px solid #F668B4;
                }
                &:nth-of-type(2){
                    border: 2px solid white;
                    background-color: transparent;
                }
                &:hover{
                    box-shadow: 0 0 30px #F668B4;
                    border: 1px solid #F668B4;
                    transform: translateY(-8px);
                    background-color: transparent;
                }
            }
        }
    }
}