@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
}
body ul {
  list-style-type: none;
}
body a,
body a:visited,
body a:active {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes moonrotate {
  to {
    rotate: 36000deg;
  }
}
@keyframes meteorite {
  0% {
    top: -50px;
    left: -50px;
  }
  10% {
    top: 100%;
    left: 100%;
  }
  10.1%, 100% {
    top: -100px;
    left: -100px;
  }
}
@keyframes meteorite2 {
  0% {
    top: 0;
    left: 120%;
  }
  10% {
    top: 100%;
    left: 0%;
  }
  10.1%, 100% {
    top: 0;
    left: 120%;
  }
}
header {
  width: 100%;
  height: 120vh;
  background-color: #202934;
  -webkit-clip-path: polygon(100% 0, 100% 84%, 30% 100%, 0 85%, 0 0);
  clip-path: polygon(100% 0, 100% 84%, 30% 100%, 0 85%, 0 0);
  position: relative;
}
header > nav > div:nth-of-type(1) {
  display: flex;
  font-size: 3rem;
  padding: 20px;
}
header > nav > div:nth-of-type(1) > div:nth-of-type(1) {
  color: rgb(255, 255, 255);
  margin-right: 5px;
}
header > nav > div:nth-of-type(1) > div:nth-of-type(2) {
  color: rgb(204, 204, 204);
}
header > nav > div:nth-of-type(2) > .menu {
  width: 40px;
  height: 40px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 95%;
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(1) {
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: all 0.4s ease;
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(1)::before, header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(1)::after {
  content: "";
  background-color: rgb(255, 255, 255);
  width: 30px;
  height: 4px;
  position: absolute;
  border-radius: 10px;
  transition: all 0.4s ease;
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(1)::after {
  transform: translateY(11px);
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(1)::before {
  transform: translateY(-11px);
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(2) {
  background-color: #181D23;
  width: 100%;
  position: fixed;
  top: 80px;
  left: 100%;
  transform: translateX(-100%);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(2) > ul > li {
  height: 50px;
  text-align: center;
  width: 100px;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(2) > ul > li > a {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(2) > ul > li > a::after {
  content: "go";
  transition: 0.4s;
  display: flex;
  height: 100%;
  width: 100%;
  transform: translateY(50px);
  position: absolute;
  justify-content: center;
  align-items: center;
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(2) > ul > li:hover > a {
  transform: translateY(-50px);
}
header > nav > div:nth-of-type(2) > .menu:hover > div:nth-of-type(1) {
  transform: translateX(-40px);
  background-color: transparent;
}
header > nav > div:nth-of-type(2) > .menu:hover > div:nth-of-type(1)::after {
  transform: translate(30px, 0) rotate(45deg);
}
header > nav > div:nth-of-type(2) > .menu:hover > div:nth-of-type(1)::before {
  transform: translate(30px, 0) rotate(-45deg);
}
header > .stars > span {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px white;
  z-index: 2;
}
header > .stars > span:nth-of-type(1) {
  top: 48%;
  left: 93%;
}
header > .stars > span:nth-of-type(2) {
  top: 88%;
  left: 68%;
}
header > .stars > span:nth-of-type(3) {
  top: 82%;
  left: 41%;
}
header > .stars > span:nth-of-type(4) {
  top: 10%;
  left: 81%;
}
header > .stars > span:nth-of-type(5) {
  top: 98%;
  left: 19%;
}
header > .stars > span:nth-of-type(6) {
  top: 85%;
  left: 31%;
}
header > .stars > span:nth-of-type(7) {
  top: 3%;
  left: 91%;
}
header > .stars > span:nth-of-type(8) {
  top: 93%;
  left: 40%;
}
header > .stars > span:nth-of-type(9) {
  top: 63%;
  left: 24%;
}
header > .stars > span:nth-of-type(10) {
  top: 9%;
  left: 25%;
}
header > .stars > span:nth-of-type(11) {
  top: 100%;
  left: 88%;
}
header > .stars > span:nth-of-type(12) {
  top: 50%;
  left: 52%;
}
header > .stars > span:nth-of-type(13) {
  top: 45%;
  left: 86%;
}
header > .stars > span:nth-of-type(14) {
  top: 45%;
  left: 90%;
}
header > .stars > span:nth-of-type(15) {
  top: 43%;
  left: 82%;
}
header > .stars > span:nth-of-type(16) {
  top: 12%;
  left: 87%;
}
header > .stars > span:nth-of-type(17) {
  top: 51%;
  left: 38%;
}
header > .stars > span:nth-of-type(18) {
  top: 32%;
  left: 78%;
}
header > .stars > span:nth-of-type(19) {
  top: 9%;
  left: 3%;
}
header > .stars > span:nth-of-type(20) {
  top: 8%;
  left: 14%;
}
header > .stars > span:nth-of-type(21) {
  top: 40%;
  left: 14%;
}
header > .stars > span:nth-of-type(22) {
  top: 26%;
  left: 52%;
}
header > .stars > span:nth-of-type(23) {
  top: 28%;
  left: 14%;
}
header > .stars > span:nth-of-type(24) {
  top: 23%;
  left: 93%;
}
header > .stars > span:nth-of-type(25) {
  top: 17%;
  left: 3%;
}
header > .stars > span:nth-of-type(26) {
  top: 7%;
  left: 77%;
}
header > .stars > span:nth-of-type(27) {
  top: 72%;
  left: 93%;
}
header > .stars > span:nth-of-type(28) {
  top: 24%;
  left: 45%;
}
header > .stars > span:nth-of-type(29) {
  top: 5%;
  left: 26%;
}
header > .stars > span:nth-of-type(30) {
  top: 15%;
  left: 66%;
}
header > .stars > span:nth-of-type(31) {
  top: 49%;
  left: 65%;
}
header > .stars > span:nth-of-type(32) {
  top: 32%;
  left: 75%;
}
header > .stars > span:nth-of-type(33) {
  top: 67%;
  left: 70%;
}
header > .stars > span:nth-of-type(34) {
  top: 74%;
  left: 9%;
}
header > .stars > span:nth-of-type(35) {
  top: 37%;
  left: 2%;
}
header > .stars > span:nth-of-type(36) {
  top: 2%;
  left: 98%;
}
header > .stars > span:nth-of-type(37) {
  top: 10%;
  left: 15%;
}
header > .stars > span:nth-of-type(38) {
  top: 6%;
  left: 45%;
}
header > .stars > span:nth-of-type(39) {
  top: 42%;
  left: 56%;
}
header > .stars > span:nth-of-type(40) {
  top: 92%;
  left: 38%;
}
header > .stars > span:nth-of-type(41) {
  top: 51%;
  left: 60%;
}
header > .stars > span:nth-of-type(42) {
  top: 25%;
  left: 56%;
}
header > .stars > span:nth-of-type(43) {
  top: 61%;
  left: 22%;
}
header > .stars > span:nth-of-type(44) {
  top: 1%;
  left: 32%;
}
header > .stars > span:nth-of-type(45) {
  top: 18%;
  left: 17%;
}
header > .stars > span:nth-of-type(46) {
  top: 24%;
  left: 29%;
}
header > .stars > span:nth-of-type(47) {
  top: 22%;
  left: 40%;
}
header > .stars > span:nth-of-type(48) {
  top: 11%;
  left: 88%;
}
header > .stars > span:nth-of-type(49) {
  top: 27%;
  left: 2%;
}
header > .stars > span:nth-of-type(50) {
  top: 34%;
  left: 15%;
}
header > .stars > span:nth-of-type(51) {
  top: 93%;
  left: 40%;
}
header > .stars > span:nth-of-type(52) {
  top: 99%;
  left: 17%;
}
header > .stars > span:nth-of-type(53) {
  top: 51%;
  left: 13%;
}
header > .stars > span:nth-of-type(54) {
  top: 26%;
  left: 39%;
}
header > .stars > span:nth-of-type(55) {
  top: 30%;
  left: 73%;
}
header > .stars > span:nth-of-type(56) {
  top: 82%;
  left: 97%;
}
header > .stars > span:nth-of-type(57) {
  top: 60%;
  left: 83%;
}
header > .stars > span:nth-of-type(58) {
  top: 46%;
  left: 69%;
}
header > .stars > span:nth-of-type(59) {
  top: 65%;
  left: 91%;
}
header > .stars > span:nth-of-type(60) {
  top: 12%;
  left: 36%;
}
header > .stars > span:nth-of-type(61) {
  top: 60%;
  left: 91%;
}
header > .stars > span:nth-of-type(62) {
  top: 57%;
  left: 86%;
}
header > .stars > span:nth-of-type(63) {
  top: 58%;
  left: 51%;
}
header > .stars > span:nth-of-type(64) {
  top: 49%;
  left: 35%;
}
header > .stars > span:nth-of-type(65) {
  top: 1%;
  left: 95%;
}
header > .stars > span:nth-of-type(66) {
  top: 17%;
  left: 82%;
}
header > .stars > span:nth-of-type(67) {
  top: 39%;
  left: 23%;
}
header > .stars > span:nth-of-type(68) {
  top: 91%;
  left: 44%;
}
header > .stars > span:nth-of-type(69) {
  top: 94%;
  left: 75%;
}
header > .stars > span:nth-of-type(70) {
  top: 48%;
  left: 3%;
}
header > .stars > span:nth-of-type(71) {
  top: 23%;
  left: 13%;
}
header > .stars > span:nth-of-type(72) {
  top: 39%;
  left: 25%;
}
header > .stars > span:nth-of-type(73) {
  top: 4%;
  left: 7%;
}
header > .stars > span:nth-of-type(74) {
  top: 65%;
  left: 26%;
}
header > .stars > span:nth-of-type(75) {
  top: 52%;
  left: 11%;
}
header > .stars > span:nth-of-type(76) {
  top: 5%;
  left: 72%;
}
header > .stars > span:nth-of-type(77) {
  top: 19%;
  left: 80%;
}
header > .stars > span:nth-of-type(78) {
  top: 32%;
  left: 27%;
}
header > .stars > span:nth-of-type(79) {
  top: 27%;
  left: 48%;
}
header > .stars > span:nth-of-type(80) {
  top: 2%;
  left: 3%;
}
header > .stars > span:nth-of-type(81) {
  top: 63%;
  left: 86%;
}
header > .stars > span:nth-of-type(82) {
  top: 2%;
  left: 11%;
}
header > .stars > span:nth-of-type(83) {
  top: 21%;
  left: 80%;
}
header > .stars > span:nth-of-type(84) {
  top: 82%;
  left: 40%;
}
header > .stars > span:nth-of-type(85) {
  top: 12%;
  left: 99%;
}
header > .stars > span:nth-of-type(86) {
  top: 99%;
  left: 1%;
}
header > .stars > span:nth-of-type(87) {
  top: 41%;
  left: 30%;
}
header > .stars > span:nth-of-type(88) {
  top: 96%;
  left: 38%;
}
header > .stars > span:nth-of-type(89) {
  top: 30%;
  left: 4%;
}
header > .stars > span:nth-of-type(90) {
  top: 17%;
  left: 57%;
}
header > .stars > span:nth-of-type(91) {
  top: 60%;
  left: 23%;
}
header > .stars > span:nth-of-type(92) {
  top: 80%;
  left: 84%;
}
header > .stars > span:nth-of-type(93) {
  top: 46%;
  left: 20%;
}
header > .stars > span:nth-of-type(94) {
  top: 56%;
  left: 60%;
}
header > .stars > span:nth-of-type(95) {
  top: 2%;
  left: 66%;
}
header > .stars > span:nth-of-type(96) {
  top: 94%;
  left: 21%;
}
header > .stars > span:nth-of-type(97) {
  top: 68%;
  left: 32%;
}
header > .stars > span:nth-of-type(98) {
  top: 44%;
  left: 41%;
}
header > .stars > span:nth-of-type(99) {
  top: 67%;
  left: 83%;
}
header > .stars > span:nth-of-type(100) {
  top: 57%;
  left: 77%;
}
header > .starsbig > span {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px white;
  z-index: 2;
}
header > .starsbig > span:nth-of-type(1) {
  top: 42%;
  left: 8%;
}
header > .starsbig > span:nth-of-type(2) {
  top: 42%;
  left: 10%;
}
header > .starsbig > span:nth-of-type(3) {
  top: 17%;
  left: 69%;
}
header > .starsbig > span:nth-of-type(4) {
  top: 6%;
  left: 17%;
}
header > .starsbig > span:nth-of-type(5) {
  top: 45%;
  left: 49%;
}
header > .starsbig > span:nth-of-type(6) {
  top: 56%;
  left: 90%;
}
header > .starsbig > span:nth-of-type(7) {
  top: 30%;
  left: 91%;
}
header > .starsbig > span:nth-of-type(8) {
  top: 27%;
  left: 32%;
}
header > .starsbig > span:nth-of-type(9) {
  top: 31%;
  left: 5%;
}
header > .starsbig > span:nth-of-type(10) {
  top: 12%;
  left: 23%;
}
header > .starsbig > span:nth-of-type(11) {
  top: 18%;
  left: 40%;
}
header > .starsbig > span:nth-of-type(12) {
  top: 72%;
  left: 5%;
}
header > .starsbig > span:nth-of-type(13) {
  top: 23%;
  left: 41%;
}
header > .starsbig > span:nth-of-type(14) {
  top: 6%;
  left: 72%;
}
header > .starsbig > span:nth-of-type(15) {
  top: 84%;
  left: 2%;
}
header > .starsbig > span:nth-of-type(16) {
  top: 23%;
  left: 11%;
}
header > .starsbig > span:nth-of-type(17) {
  top: 29%;
  left: 68%;
}
header > .starsbig > span:nth-of-type(18) {
  top: 14%;
  left: 46%;
}
header > .starsbig > span:nth-of-type(19) {
  top: 82%;
  left: 38%;
}
header > .starsbig > span:nth-of-type(20) {
  top: 78%;
  left: 90%;
}
header > .starsbig > span:nth-of-type(21) {
  top: 14%;
  left: 92%;
}
header > .starsbig > span:nth-of-type(22) {
  top: 94%;
  left: 43%;
}
header > .starsbig > span:nth-of-type(23) {
  top: 53%;
  left: 10%;
}
header > .starsbig > span:nth-of-type(24) {
  top: 67%;
  left: 71%;
}
header > .starsbig > span:nth-of-type(25) {
  top: 60%;
  left: 43%;
}
header > .starsbig > span:nth-of-type(26) {
  top: 67%;
  left: 55%;
}
header > .starsbig > span:nth-of-type(27) {
  top: 89%;
  left: 78%;
}
header > .starsbig > span:nth-of-type(28) {
  top: 78%;
  left: 59%;
}
header > .starsbig > span:nth-of-type(29) {
  top: 34%;
  left: 34%;
}
header > .starsbig > span:nth-of-type(30) {
  top: 42%;
  left: 6%;
}
header > .starsbig > span:nth-of-type(31) {
  top: 40%;
  left: 20%;
}
header > .starsbig > span:nth-of-type(32) {
  top: 71%;
  left: 66%;
}
header > .starsbig > span:nth-of-type(33) {
  top: 32%;
  left: 17%;
}
header > .starsbig > span:nth-of-type(34) {
  top: 16%;
  left: 98%;
}
header > .starsbig > span:nth-of-type(35) {
  top: 78%;
  left: 12%;
}
header > .starsbig > span:nth-of-type(36) {
  top: 15%;
  left: 71%;
}
header > .starsbig > span:nth-of-type(37) {
  top: 88%;
  left: 23%;
}
header > .starsbig > span:nth-of-type(38) {
  top: 77%;
  left: 99%;
}
header > .starsbig > span:nth-of-type(39) {
  top: 9%;
  left: 17%;
}
header > .starsbig > span:nth-of-type(40) {
  top: 78%;
  left: 71%;
}
header > .starsbig > span:nth-of-type(41) {
  top: 10%;
  left: 84%;
}
header > .starsbig > span:nth-of-type(42) {
  top: 10%;
  left: 75%;
}
header > .starsbig > span:nth-of-type(43) {
  top: 41%;
  left: 37%;
}
header > .starsbig > span:nth-of-type(44) {
  top: 32%;
  left: 58%;
}
header > .starsbig > span:nth-of-type(45) {
  top: 49%;
  left: 97%;
}
header > .starsbig > span:nth-of-type(46) {
  top: 45%;
  left: 74%;
}
header > .starsbig > span:nth-of-type(47) {
  top: 32%;
  left: 10%;
}
header > .starsbig > span:nth-of-type(48) {
  top: 73%;
  left: 59%;
}
header > .starsbig > span:nth-of-type(49) {
  top: 40%;
  left: 70%;
}
header > .starsbig > span:nth-of-type(50) {
  top: 46%;
  left: 91%;
}
header > .starsbig > span:nth-of-type(51) {
  top: 19%;
  left: 15%;
}
header > .starsbig > span:nth-of-type(52) {
  top: 35%;
  left: 3%;
}
header > .starsbig > span:nth-of-type(53) {
  top: 18%;
  left: 12%;
}
header > .starsbig > span:nth-of-type(54) {
  top: 41%;
  left: 19%;
}
header > .starsbig > span:nth-of-type(55) {
  top: 18%;
  left: 20%;
}
header > .starsbig > span:nth-of-type(56) {
  top: 66%;
  left: 18%;
}
header > .starsbig > span:nth-of-type(57) {
  top: 34%;
  left: 17%;
}
header > .starsbig > span:nth-of-type(58) {
  top: 74%;
  left: 84%;
}
header > .starsbig > span:nth-of-type(59) {
  top: 64%;
  left: 6%;
}
header > .starsbig > span:nth-of-type(60) {
  top: 37%;
  left: 85%;
}
header > .starsbig > span:nth-of-type(61) {
  top: 7%;
  left: 26%;
}
header > .starsbig > span:nth-of-type(62) {
  top: 27%;
  left: 61%;
}
header > .starsbig > span:nth-of-type(63) {
  top: 96%;
  left: 64%;
}
header > .starsbig > span:nth-of-type(64) {
  top: 93%;
  left: 51%;
}
header > .starsbig > span:nth-of-type(65) {
  top: 6%;
  left: 61%;
}
header > .starsbig > span:nth-of-type(66) {
  top: 56%;
  left: 92%;
}
header > .starsbig > span:nth-of-type(67) {
  top: 51%;
  left: 67%;
}
header > .starsbig > span:nth-of-type(68) {
  top: 25%;
  left: 25%;
}
header > .starsbig > span:nth-of-type(69) {
  top: 37%;
  left: 98%;
}
header > .starsbig > span:nth-of-type(70) {
  top: 60%;
  left: 69%;
}
header > .starsbig > span:nth-of-type(71) {
  top: 81%;
  left: 61%;
}
header > .starsbig > span:nth-of-type(72) {
  top: 85%;
  left: 47%;
}
header > .starsbig > span:nth-of-type(73) {
  top: 2%;
  left: 11%;
}
header > .starsbig > span:nth-of-type(74) {
  top: 72%;
  left: 67%;
}
header > .starsbig > span:nth-of-type(75) {
  top: 84%;
  left: 51%;
}
header > .starsbig > span:nth-of-type(76) {
  top: 8%;
  left: 48%;
}
header > .starsbig > span:nth-of-type(77) {
  top: 50%;
  left: 17%;
}
header > .starsbig > span:nth-of-type(78) {
  top: 84%;
  left: 57%;
}
header > .starsbig > span:nth-of-type(79) {
  top: 61%;
  left: 86%;
}
header > .starsbig > span:nth-of-type(80) {
  top: 47%;
  left: 48%;
}
header > .starsbig > span:nth-of-type(81) {
  top: 66%;
  left: 68%;
}
header > .starsbig > span:nth-of-type(82) {
  top: 61%;
  left: 48%;
}
header > .starsbig > span:nth-of-type(83) {
  top: 64%;
  left: 16%;
}
header > .starsbig > span:nth-of-type(84) {
  top: 7%;
  left: 47%;
}
header > .starsbig > span:nth-of-type(85) {
  top: 96%;
  left: 65%;
}
header > .starsbig > span:nth-of-type(86) {
  top: 51%;
  left: 44%;
}
header > .starsbig > span:nth-of-type(87) {
  top: 40%;
  left: 21%;
}
header > .starsbig > span:nth-of-type(88) {
  top: 82%;
  left: 93%;
}
header > .starsbig > span:nth-of-type(89) {
  top: 43%;
  left: 15%;
}
header > .starsbig > span:nth-of-type(90) {
  top: 70%;
  left: 30%;
}
header > .starsbig > span:nth-of-type(91) {
  top: 78%;
  left: 69%;
}
header > .starsbig > span:nth-of-type(92) {
  top: 48%;
  left: 2%;
}
header > .starsbig > span:nth-of-type(93) {
  top: 90%;
  left: 1%;
}
header > .starsbig > span:nth-of-type(94) {
  top: 86%;
  left: 56%;
}
header > .starsbig > span:nth-of-type(95) {
  top: 50%;
  left: 79%;
}
header > .starsbig > span:nth-of-type(96) {
  top: 88%;
  left: 52%;
}
header > .starsbig > span:nth-of-type(97) {
  top: 27%;
  left: 77%;
}
header > .starsbig > span:nth-of-type(98) {
  top: 26%;
  left: 29%;
}
header > .starsbig > span:nth-of-type(99) {
  top: 38%;
  left: 60%;
}
header > .starsbig > span:nth-of-type(100) {
  top: 54%;
  left: 12%;
}
header > .starsvbig > span {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px white;
  z-index: 2;
}
header > .starsvbig > span:nth-of-type(1) {
  top: 1%;
  left: 15%;
}
header > .starsvbig > span:nth-of-type(2) {
  top: 54%;
  left: 3%;
}
header > .starsvbig > span:nth-of-type(3) {
  top: 34%;
  left: 30%;
}
header > .starsvbig > span:nth-of-type(4) {
  top: 34%;
  left: 54%;
}
header > .starsvbig > span:nth-of-type(5) {
  top: 93%;
  left: 2%;
}
header > .starsvbig > span:nth-of-type(6) {
  top: 23%;
  left: 35%;
}
header > .starsvbig > span:nth-of-type(7) {
  top: 72%;
  left: 33%;
}
header > .starsvbig > span:nth-of-type(8) {
  top: 85%;
  left: 65%;
}
header > .starsvbig > span:nth-of-type(9) {
  top: 53%;
  left: 38%;
}
header > .starsvbig > span:nth-of-type(10) {
  top: 41%;
  left: 21%;
}
header > .starsvbig > span:nth-of-type(11) {
  top: 78%;
  left: 64%;
}
header > .starsvbig > span:nth-of-type(12) {
  top: 31%;
  left: 86%;
}
header > .starsvbig > span:nth-of-type(13) {
  top: 69%;
  left: 30%;
}
header > .starsvbig > span:nth-of-type(14) {
  top: 80%;
  left: 33%;
}
header > .starsvbig > span:nth-of-type(15) {
  top: 38%;
  left: 29%;
}
header > .starsvbig > span:nth-of-type(16) {
  top: 9%;
  left: 39%;
}
header > .starsvbig > span:nth-of-type(17) {
  top: 18%;
  left: 32%;
}
header > .starsvbig > span:nth-of-type(18) {
  top: 23%;
  left: 41%;
}
header > .starsvbig > span:nth-of-type(19) {
  top: 37%;
  left: 86%;
}
header > .starsvbig > span:nth-of-type(20) {
  top: 33%;
  left: 25%;
}
header > .starsvbig > span:nth-of-type(21) {
  top: 19%;
  left: 42%;
}
header > .starsvbig > span:nth-of-type(22) {
  top: 76%;
  left: 62%;
}
header > .starsvbig > span:nth-of-type(23) {
  top: 63%;
  left: 63%;
}
header > .starsvbig > span:nth-of-type(24) {
  top: 5%;
  left: 93%;
}
header > .starsvbig > span:nth-of-type(25) {
  top: 3%;
  left: 78%;
}
header > .starsvbig > span:nth-of-type(26) {
  top: 85%;
  left: 4%;
}
header > .starsvbig > span:nth-of-type(27) {
  top: 42%;
  left: 64%;
}
header > .starsvbig > span:nth-of-type(28) {
  top: 83%;
  left: 42%;
}
header > .starsvbig > span:nth-of-type(29) {
  top: 81%;
  left: 49%;
}
header > .starsvbig > span:nth-of-type(30) {
  top: 9%;
  left: 84%;
}
header > .starsvbig > span:nth-of-type(31) {
  top: 49%;
  left: 10%;
}
header > .starsvbig > span:nth-of-type(32) {
  top: 85%;
  left: 92%;
}
header > .starsvbig > span:nth-of-type(33) {
  top: 2%;
  left: 89%;
}
header > .starsvbig > span:nth-of-type(34) {
  top: 61%;
  left: 10%;
}
header > .starsvbig > span:nth-of-type(35) {
  top: 83%;
  left: 62%;
}
header > .starsvbig > span:nth-of-type(36) {
  top: 62%;
  left: 3%;
}
header > .starsvbig > span:nth-of-type(37) {
  top: 33%;
  left: 73%;
}
header > .starsvbig > span:nth-of-type(38) {
  top: 91%;
  left: 75%;
}
header > .starsvbig > span:nth-of-type(39) {
  top: 69%;
  left: 57%;
}
header > .starsvbig > span:nth-of-type(40) {
  top: 29%;
  left: 98%;
}
header > .starsvbig > span:nth-of-type(41) {
  top: 82%;
  left: 30%;
}
header > .starsvbig > span:nth-of-type(42) {
  top: 18%;
  left: 99%;
}
header > .starsvbig > span:nth-of-type(43) {
  top: 68%;
  left: 55%;
}
header > .starsvbig > span:nth-of-type(44) {
  top: 14%;
  left: 42%;
}
header > .starsvbig > span:nth-of-type(45) {
  top: 45%;
  left: 28%;
}
header > .starsvbig > span:nth-of-type(46) {
  top: 45%;
  left: 55%;
}
header > .starsvbig > span:nth-of-type(47) {
  top: 53%;
  left: 60%;
}
header > .starsvbig > span:nth-of-type(48) {
  top: 25%;
  left: 28%;
}
header > .starsvbig > span:nth-of-type(49) {
  top: 86%;
  left: 52%;
}
header > .starsvbig > span:nth-of-type(50) {
  top: 32%;
  left: 20%;
}
header > .starsvbig > span:nth-of-type(51) {
  top: 44%;
  left: 52%;
}
header > .starsvbig > span:nth-of-type(52) {
  top: 45%;
  left: 58%;
}
header > .starsvbig > span:nth-of-type(53) {
  top: 41%;
  left: 61%;
}
header > .starsvbig > span:nth-of-type(54) {
  top: 5%;
  left: 1%;
}
header > .starsvbig > span:nth-of-type(55) {
  top: 5%;
  left: 77%;
}
header > .starsvbig > span:nth-of-type(56) {
  top: 80%;
  left: 25%;
}
header > .starsvbig > span:nth-of-type(57) {
  top: 54%;
  left: 77%;
}
header > .starsvbig > span:nth-of-type(58) {
  top: 79%;
  left: 35%;
}
header > .starsvbig > span:nth-of-type(59) {
  top: 9%;
  left: 8%;
}
header > .starsvbig > span:nth-of-type(60) {
  top: 100%;
  left: 99%;
}
header > .starsvbig > span:nth-of-type(61) {
  top: 47%;
  left: 12%;
}
header > .starsvbig > span:nth-of-type(62) {
  top: 16%;
  left: 99%;
}
header > .starsvbig > span:nth-of-type(63) {
  top: 1%;
  left: 8%;
}
header > .starsvbig > span:nth-of-type(64) {
  top: 68%;
  left: 72%;
}
header > .starsvbig > span:nth-of-type(65) {
  top: 10%;
  left: 68%;
}
header > .starsvbig > span:nth-of-type(66) {
  top: 45%;
  left: 63%;
}
header > .starsvbig > span:nth-of-type(67) {
  top: 96%;
  left: 68%;
}
header > .starsvbig > span:nth-of-type(68) {
  top: 12%;
  left: 18%;
}
header > .starsvbig > span:nth-of-type(69) {
  top: 56%;
  left: 69%;
}
header > .starsvbig > span:nth-of-type(70) {
  top: 51%;
  left: 27%;
}
header > .starsvbig > span:nth-of-type(71) {
  top: 72%;
  left: 36%;
}
header > .starsvbig > span:nth-of-type(72) {
  top: 59%;
  left: 92%;
}
header > .starsvbig > span:nth-of-type(73) {
  top: 93%;
  left: 14%;
}
header > .starsvbig > span:nth-of-type(74) {
  top: 34%;
  left: 67%;
}
header > .starsvbig > span:nth-of-type(75) {
  top: 59%;
  left: 84%;
}
header > .starsvbig > span:nth-of-type(76) {
  top: 84%;
  left: 28%;
}
header > .starsvbig > span:nth-of-type(77) {
  top: 28%;
  left: 78%;
}
header > .starsvbig > span:nth-of-type(78) {
  top: 82%;
  left: 5%;
}
header > .starsvbig > span:nth-of-type(79) {
  top: 3%;
  left: 44%;
}
header > .starsvbig > span:nth-of-type(80) {
  top: 24%;
  left: 43%;
}
header > .starsvbig > span:nth-of-type(81) {
  top: 80%;
  left: 82%;
}
header > .starsvbig > span:nth-of-type(82) {
  top: 59%;
  left: 24%;
}
header > .starsvbig > span:nth-of-type(83) {
  top: 17%;
  left: 42%;
}
header > .starsvbig > span:nth-of-type(84) {
  top: 32%;
  left: 7%;
}
header > .starsvbig > span:nth-of-type(85) {
  top: 82%;
  left: 28%;
}
header > .starsvbig > span:nth-of-type(86) {
  top: 83%;
  left: 12%;
}
header > .starsvbig > span:nth-of-type(87) {
  top: 20%;
  left: 32%;
}
header > .starsvbig > span:nth-of-type(88) {
  top: 44%;
  left: 37%;
}
header > .starsvbig > span:nth-of-type(89) {
  top: 70%;
  left: 74%;
}
header > .starsvbig > span:nth-of-type(90) {
  top: 89%;
  left: 12%;
}
header > .starsvbig > span:nth-of-type(91) {
  top: 51%;
  left: 75%;
}
header > .starsvbig > span:nth-of-type(92) {
  top: 97%;
  left: 80%;
}
header > .starsvbig > span:nth-of-type(93) {
  top: 98%;
  left: 99%;
}
header > .starsvbig > span:nth-of-type(94) {
  top: 21%;
  left: 40%;
}
header > .starsvbig > span:nth-of-type(95) {
  top: 76%;
  left: 64%;
}
header > .starsvbig > span:nth-of-type(96) {
  top: 8%;
  left: 41%;
}
header > .starsvbig > span:nth-of-type(97) {
  top: 9%;
  left: 47%;
}
header > .starsvbig > span:nth-of-type(98) {
  top: 74%;
  left: 92%;
}
header > .starsvbig > span:nth-of-type(99) {
  top: 84%;
  left: 85%;
}
header > .starsvbig > span:nth-of-type(100) {
  top: 85%;
  left: 58%;
}
header > .meteorite > span:nth-of-type(1) {
  width: 50px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  transform: rotate(30deg);
  box-shadow: 0 0 20px rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
  animation: meteorite 4s linear infinite forwards;
}
header > .meteorite > span:nth-of-type(2) {
  width: 80px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 120%;
  border-radius: 50%;
  transform: rotate(150deg);
  box-shadow: 0 0 30px rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  animation: meteorite2 2s linear infinite forwards 5s;
}
header > .background > figure {
  position: absolute;
}
header > .background > .trees {
  bottom: 120px;
  width: 100%;
  z-index: 3;
}
header > .background > .trees > img {
  color: black;
}
header > .background > .trees > div {
  background-color: #181D23;
  height: 300px;
  position: absolute;
  bottom: -270px;
  width: 100%;
}
header > .background > .moon {
  top: 0;
  left: 70%;
  width: 20%;
  z-index: 4;
  animation: moonrotate linear infinite 2000s;
}
header > .background > .person {
  top: 38%;
  left: 20%;
  width: 10%;
  z-index: 5;
}
header > .text-header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
}
header > .text-header > .text-header-center {
  width: 30%;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}
header > .text-header > .text-header-center > h1 {
  font-size: 5rem;
  font-style: italic;
  color: white;
  margin-bottom: 20px;
}
header > .text-header > .text-header-center > h1 > span {
  color: #F668B4;
}
header > .text-header > .text-header-center > a {
  text-align: center;
  padding: 15px;
  margin: 10px;
  text-transform: uppercase;
  transition: 0.4s;
  color: white;
  transform: translateY(8px);
}
header > .text-header > .text-header-center > a:nth-of-type(1) {
  background-color: #F668B4;
  border: 2px solid #F668B4;
}
header > .text-header > .text-header-center > a:nth-of-type(2) {
  border: 2px solid white;
  background-color: transparent;
}
header > .text-header > .text-header-center > a:hover {
  box-shadow: 0 0 30px #F668B4;
  border: 1px solid #F668B4;
  transform: translateY(-8px);
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  header .row-between > div:nth-of-type(1) > div {
    font-size: 2rem;
  }
  header .row-between > div:nth-of-type(2) > .menu {
    z-index: 2;
    left: 80%;
  }
  header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1) {
    width: 20px;
    z-index: 7;
    height: 3px;
  }
  header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1)::after, header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1)::before {
    width: 20px;
    height: 3px;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul > li {
    width: 100%;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul > li > a {
    font-size: 3rem;
  }
  header > .stars > span,
  header > .starsbig > span,
  header > .starsvbig > span {
    z-index: 11;
  }
  header > .meteorite > span {
    z-index: 3;
  }
  header > .meteorite > span:nth-of-type(1) {
    rotate: 30deg;
  }
  header > .meteorite > span:nth-of-type(2) {
    rotate: -30deg;
  }
  header > .background > .trees {
    z-index: 99;
  }
  header > .background > .moon {
    width: 200px;
    height: 500px;
    top: 50%;
    left: 40%;
    z-index: 2;
  }
  header > .background > .person {
    display: none;
  }
  header > .text-header {
    z-index: 1;
    transform: translateY(-100px);
  }
  header > .text-header > .text-header-center {
    width: 90%;
    font-size: 1.3rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  header > .text-header > .text-header-center > h1 {
    font-size: 4rem;
  }
  header > .text-header > .text-header-center > a {
    width: 150px;
  }
  header > .text-header > .text-header-center > a:nth-of-type(1) {
    transform: translateY(6px);
  }
  header > .text-header > .text-header-center > a:nth-of-type(2) {
    transform: translate(-160px, 65px);
  }
}
@media screen and (min-width: 769px) {
  header .row-between > div:nth-of-type(1) > div {
    font-size: 3rem;
  }
  header .row-between > div:nth-of-type(2) > .menu {
    z-index: 2;
    left: 90%;
  }
  header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1) {
    width: 20px;
    z-index: 7;
    height: 3px;
  }
  header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1)::after, header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1)::before {
    width: 20px;
    height: 3px;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul > li {
    width: 100%;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul > li > a {
    font-size: 3rem;
  }
  header > .stars > span,
  header > .starsbig > span,
  header > .starsvbig > span {
    z-index: 11;
  }
  header > .meteorite > span {
    z-index: 3;
  }
  header > .meteorite > span:nth-of-type(1) {
    rotate: 25deg;
  }
  header > .meteorite > span:nth-of-type(2) {
    rotate: -24deg;
  }
  header > .background > .trees {
    z-index: 99;
  }
  header > .background > .moon {
    width: 200px;
    height: 500px;
    top: 50%;
    left: 40%;
    z-index: 2;
  }
  header > .background > .person {
    display: none;
  }
  header > .text-header {
    z-index: 1;
    transform: translateY(-50px);
  }
  header > .text-header > .text-header-center {
    width: 90%;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  header > .text-header > .text-header-center > h1 {
    font-size: 5rem;
  }
  header > .text-header > .text-header-center > a {
    width: 150px;
  }
  header > .text-header > .text-header-center > a:nth-of-type(1) {
    transform: translateY(6px);
  }
  header > .text-header > .text-header-center > a:nth-of-type(2) {
    transform: translate(-400px, 45px);
  }
}
@media screen and (min-width: 992px) {
  header .row-between > div:nth-of-type(1) > div {
    font-size: 4rem;
  }
  header .row-between > div:nth-of-type(2) > .menu {
    z-index: 2;
    left: 94%;
  }
  header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1) {
    width: 20px;
    z-index: 7;
    height: 3px;
  }
  header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1)::after, header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1)::before {
    width: 20px;
    height: 3px;
  }
  header .row-between > div:nth-of-type(2) > .menu #list {
    justify-content: start;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul {
    margin-left: 130px;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul > li {
    width: 100%;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul > li > a {
    font-size: 3rem;
  }
  header > .stars > span,
  header > .starsbig > span,
  header > .starsvbig > span {
    z-index: 11;
  }
  header > .meteorite > span {
    z-index: 3;
  }
  header > .meteorite > span:nth-of-type(1) {
    rotate: 4deg;
  }
  header > .meteorite > span:nth-of-type(2) {
    rotate: -4deg;
  }
  header > .background > .trees {
    z-index: 99;
  }
  header > .background > .moon {
    width: 800px;
    height: 800px;
    top: 40%;
    left: 40%;
    z-index: 2;
  }
  header > .background > .person {
    display: block;
    top: 50%;
    z-index: 99;
  }
  header > .text-header {
    z-index: 1;
    transform: translateY(-50px);
    position: absolute;
    left: 10%;
  }
  header > .text-header > .text-header-center {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  header > .text-header > .text-header-center > h1 {
    font-size: 5rem;
  }
  header > .text-header > .text-header-center > a {
    width: 150px;
  }
  header > .text-header > .text-header-center > a:nth-of-type(1) {
    transform: translateY(6px);
  }
  header > .text-header > .text-header-center > a:nth-of-type(2) {
    transform: translate(-650px, 45px);
  }
}

/*# sourceMappingURL=master.css.map */
