@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: main;
  src: url("../fonts/SFNSDisplay-Light.otf");
}
@font-face {
  font-family: barker;
  src: url("../fonts/wg_barker.ttf");
}
@font-face {
  font-family: borel;
  src: url("../fonts/Borel-Regular.ttf");
}
@font-face {
  font-family: checkra;
  src: url("../fonts/ChakraPetch-Bold.ttf ");
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #F668B4;
}

::-webkit-scrollbar-thumb {
  background: #F668B4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
  border: 1px solid #F668B4;
  -webkit-box-shadow: inset 0 0 6px #F668B4;
}

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  position: relative;
  z-index: -99;
  height: 200vh;
}
body ul {
  list-style-type: none;
}
body a,
body a:visited,
body a:active {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes moonrotate {
  to {
    rotate: 36000deg;
  }
}
@keyframes meteorite {
  0% {
    top: -50px;
    left: -50px;
  }
  10% {
    top: 100%;
    left: 100%;
  }
  10.1%, 100% {
    top: -100px;
    left: -100px;
  }
}
@keyframes meteorite2 {
  0% {
    top: 0;
    left: 120%;
  }
  10% {
    top: 100%;
    left: 0%;
  }
  10.1%, 100% {
    top: 0;
    left: 120%;
  }
}
@keyframes space-animation {
  from {
    background-position-x: -100%;
  }
  to {
    background-position-x: 100%;
  }
}
@keyframes textRotate {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-webkit-keyframes travelOrbit {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes travelOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes unrotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes unrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes skillsDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}
@keyframes fadeInSkills {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes footerLightingFrist {
  0% {
    box-shadow: 0;
  }
  30% {
    box-shadow: 0 0 100px yellow, 0 0 200px yellow;
  }
  70% {
    box-shadow: 0 0 200px yellow, 0 0 300px yellow;
  }
  100% {
    box-shadow: 0 0 300px yellow, 0 0 400px yellow;
  }
}
@keyframes footerLightingSecond {
  0% {
    box-shadow: 0;
  }
  30% {
    box-shadow: 0 0 100px #F668B4, 0 0 200px #F668B4;
  }
  70% {
    box-shadow: 0 0 200px #F668B4, 0 0 300px #F668B4;
  }
  100% {
    box-shadow: 0 0 300px #F668B4, 0 0 400px #F668B4;
  }
}
@keyframes footerLightingThird {
  0% {
    box-shadow: 0;
  }
  30% {
    box-shadow: 0 0 100px red, 0 0 200px red;
  }
  70% {
    box-shadow: 0 0 200px red, 0 0 300px red;
  }
  100% {
    box-shadow: 0 0 300px red, 0 0 400px red;
  }
}
.clickMenuEffect {
  transform: translateX(-40px) !important;
  background-color: transparent !important;
}
.clickMenuEffect::after {
  transform: translate(30px, 0) rotate(45deg) !important;
}
.clickMenuEffect::before {
  transform: translate(30px, 0) rotate(-45deg) !important;
}

.box {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-3400px);
}

.show {
  opacity: 1;
  transform: none;
}

.showSkills .dot {
  animation: skillsDot 2s linear forwards;
}
.showSkills circle:nth-child(2) {
  animation: fadeInSkills 1s 2.5s linear forwards;
}
.showSkills .skills-title {
  animation: fadeInSkills 1s 2.5s linear forwards;
}

header {
  width: 100%;
  height: 120vh;
  background-color: #202934;
  position: relative;
}
header > nav > div:nth-of-type(1) {
  display: flex;
  font-size: 3rem;
  padding: 20px;
  font-family: borel;
}
header > nav > div:nth-of-type(1) > div:nth-of-type(1) {
  color: #ffffff;
  margin-right: 5px;
}
header > nav > div:nth-of-type(1) > div:nth-of-type(2) {
  color: #cccccc;
}
header > nav > div:nth-of-type(2) > .menu {
  width: 40px;
  height: 40px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 95%;
}
header > nav > div:nth-of-type(2) > .menu:hover > div:nth-of-type(1) {
  background-color: #F668B4;
}
header > nav > div:nth-of-type(2) > .menu:hover > div:nth-of-type(1)::after, header > nav > div:nth-of-type(2) > .menu:hover > div:nth-of-type(1)::before {
  background-color: #F668B4;
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(1) {
  width: 30px;
  height: 4px;
  border-radius: 10px;
  background-color: #ffffff;
  transition: all 0.4s ease;
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(1)::before, header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(1)::after {
  content: "";
  background-color: #ffffff;
  width: 30px;
  height: 4px;
  position: absolute;
  border-radius: 10px;
  transition: all 0.4s ease;
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(1)::after {
  transform: translateY(11px);
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(1)::before {
  transform: translateY(-11px);
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(2) {
  background-color: #181D23;
  width: 100%;
  position: fixed;
  top: 80px;
  left: 100%;
  transform: translateX(-100%);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(2) > ul > li {
  height: 50px;
  text-align: center;
  width: 100px;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(2) > ul > li > a {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #ffffff;
  transition: 0.4s;
  font-family: checkra;
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(2) > ul > li > a::after {
  content: "go";
  color: #F668B4;
  transition: 0.4s;
  display: flex;
  height: 100%;
  width: 100%;
  transform: translateY(50px);
  position: absolute;
  justify-content: center;
  align-items: center;
}
header > nav > div:nth-of-type(2) > .menu > div:nth-of-type(2) > ul > li:hover > a {
  transform: translateY(-50px);
}
header > .stars > span {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px white;
  z-index: 2;
}
header > .stars > span:nth-of-type(1) {
  top: 100%;
  left: 89%;
}
header > .stars > span:nth-of-type(2) {
  top: 78%;
  left: 2%;
}
header > .stars > span:nth-of-type(3) {
  top: 12%;
  left: 46%;
}
header > .stars > span:nth-of-type(4) {
  top: 50%;
  left: 50%;
}
header > .stars > span:nth-of-type(5) {
  top: 86%;
  left: 22%;
}
header > .stars > span:nth-of-type(6) {
  top: 75%;
  left: 36%;
}
header > .stars > span:nth-of-type(7) {
  top: 5%;
  left: 66%;
}
header > .stars > span:nth-of-type(8) {
  top: 32%;
  left: 89%;
}
header > .stars > span:nth-of-type(9) {
  top: 8%;
  left: 36%;
}
header > .stars > span:nth-of-type(10) {
  top: 88%;
  left: 84%;
}
header > .stars > span:nth-of-type(11) {
  top: 26%;
  left: 24%;
}
header > .stars > span:nth-of-type(12) {
  top: 27%;
  left: 15%;
}
header > .stars > span:nth-of-type(13) {
  top: 64%;
  left: 58%;
}
header > .stars > span:nth-of-type(14) {
  top: 67%;
  left: 67%;
}
header > .stars > span:nth-of-type(15) {
  top: 40%;
  left: 72%;
}
header > .stars > span:nth-of-type(16) {
  top: 55%;
  left: 24%;
}
header > .stars > span:nth-of-type(17) {
  top: 28%;
  left: 84%;
}
header > .stars > span:nth-of-type(18) {
  top: 36%;
  left: 67%;
}
header > .stars > span:nth-of-type(19) {
  top: 15%;
  left: 62%;
}
header > .stars > span:nth-of-type(20) {
  top: 40%;
  left: 6%;
}
header > .stars > span:nth-of-type(21) {
  top: 70%;
  left: 28%;
}
header > .stars > span:nth-of-type(22) {
  top: 36%;
  left: 68%;
}
header > .stars > span:nth-of-type(23) {
  top: 76%;
  left: 68%;
}
header > .stars > span:nth-of-type(24) {
  top: 100%;
  left: 4%;
}
header > .stars > span:nth-of-type(25) {
  top: 59%;
  left: 42%;
}
header > .stars > span:nth-of-type(26) {
  top: 14%;
  left: 37%;
}
header > .stars > span:nth-of-type(27) {
  top: 20%;
  left: 33%;
}
header > .stars > span:nth-of-type(28) {
  top: 19%;
  left: 72%;
}
header > .stars > span:nth-of-type(29) {
  top: 59%;
  left: 59%;
}
header > .stars > span:nth-of-type(30) {
  top: 18%;
  left: 16%;
}
header > .stars > span:nth-of-type(31) {
  top: 83%;
  left: 27%;
}
header > .stars > span:nth-of-type(32) {
  top: 26%;
  left: 60%;
}
header > .stars > span:nth-of-type(33) {
  top: 7%;
  left: 35%;
}
header > .stars > span:nth-of-type(34) {
  top: 39%;
  left: 10%;
}
header > .stars > span:nth-of-type(35) {
  top: 87%;
  left: 22%;
}
header > .stars > span:nth-of-type(36) {
  top: 100%;
  left: 53%;
}
header > .stars > span:nth-of-type(37) {
  top: 81%;
  left: 62%;
}
header > .stars > span:nth-of-type(38) {
  top: 64%;
  left: 13%;
}
header > .stars > span:nth-of-type(39) {
  top: 44%;
  left: 77%;
}
header > .stars > span:nth-of-type(40) {
  top: 89%;
  left: 100%;
}
header > .stars > span:nth-of-type(41) {
  top: 50%;
  left: 25%;
}
header > .stars > span:nth-of-type(42) {
  top: 42%;
  left: 45%;
}
header > .stars > span:nth-of-type(43) {
  top: 99%;
  left: 99%;
}
header > .stars > span:nth-of-type(44) {
  top: 66%;
  left: 53%;
}
header > .stars > span:nth-of-type(45) {
  top: 7%;
  left: 65%;
}
header > .stars > span:nth-of-type(46) {
  top: 81%;
  left: 61%;
}
header > .stars > span:nth-of-type(47) {
  top: 18%;
  left: 77%;
}
header > .stars > span:nth-of-type(48) {
  top: 66%;
  left: 53%;
}
header > .stars > span:nth-of-type(49) {
  top: 13%;
  left: 78%;
}
header > .stars > span:nth-of-type(50) {
  top: 94%;
  left: 8%;
}
header > .stars > span:nth-of-type(51) {
  top: 34%;
  left: 87%;
}
header > .stars > span:nth-of-type(52) {
  top: 72%;
  left: 6%;
}
header > .stars > span:nth-of-type(53) {
  top: 85%;
  left: 10%;
}
header > .stars > span:nth-of-type(54) {
  top: 24%;
  left: 48%;
}
header > .stars > span:nth-of-type(55) {
  top: 60%;
  left: 81%;
}
header > .stars > span:nth-of-type(56) {
  top: 86%;
  left: 16%;
}
header > .stars > span:nth-of-type(57) {
  top: 16%;
  left: 77%;
}
header > .stars > span:nth-of-type(58) {
  top: 73%;
  left: 86%;
}
header > .stars > span:nth-of-type(59) {
  top: 35%;
  left: 31%;
}
header > .stars > span:nth-of-type(60) {
  top: 87%;
  left: 26%;
}
header > .stars > span:nth-of-type(61) {
  top: 66%;
  left: 32%;
}
header > .stars > span:nth-of-type(62) {
  top: 55%;
  left: 14%;
}
header > .stars > span:nth-of-type(63) {
  top: 69%;
  left: 19%;
}
header > .stars > span:nth-of-type(64) {
  top: 6%;
  left: 12%;
}
header > .stars > span:nth-of-type(65) {
  top: 91%;
  left: 82%;
}
header > .stars > span:nth-of-type(66) {
  top: 11%;
  left: 36%;
}
header > .stars > span:nth-of-type(67) {
  top: 69%;
  left: 49%;
}
header > .stars > span:nth-of-type(68) {
  top: 15%;
  left: 92%;
}
header > .stars > span:nth-of-type(69) {
  top: 68%;
  left: 12%;
}
header > .stars > span:nth-of-type(70) {
  top: 36%;
  left: 86%;
}
header > .stars > span:nth-of-type(71) {
  top: 69%;
  left: 61%;
}
header > .stars > span:nth-of-type(72) {
  top: 89%;
  left: 11%;
}
header > .stars > span:nth-of-type(73) {
  top: 89%;
  left: 96%;
}
header > .stars > span:nth-of-type(74) {
  top: 84%;
  left: 2%;
}
header > .stars > span:nth-of-type(75) {
  top: 5%;
  left: 16%;
}
header > .stars > span:nth-of-type(76) {
  top: 19%;
  left: 9%;
}
header > .stars > span:nth-of-type(77) {
  top: 2%;
  left: 7%;
}
header > .stars > span:nth-of-type(78) {
  top: 54%;
  left: 81%;
}
header > .stars > span:nth-of-type(79) {
  top: 39%;
  left: 42%;
}
header > .stars > span:nth-of-type(80) {
  top: 37%;
  left: 74%;
}
header > .stars > span:nth-of-type(81) {
  top: 95%;
  left: 29%;
}
header > .stars > span:nth-of-type(82) {
  top: 47%;
  left: 53%;
}
header > .stars > span:nth-of-type(83) {
  top: 31%;
  left: 30%;
}
header > .stars > span:nth-of-type(84) {
  top: 68%;
  left: 90%;
}
header > .stars > span:nth-of-type(85) {
  top: 77%;
  left: 20%;
}
header > .stars > span:nth-of-type(86) {
  top: 23%;
  left: 92%;
}
header > .stars > span:nth-of-type(87) {
  top: 52%;
  left: 68%;
}
header > .stars > span:nth-of-type(88) {
  top: 27%;
  left: 24%;
}
header > .stars > span:nth-of-type(89) {
  top: 5%;
  left: 81%;
}
header > .stars > span:nth-of-type(90) {
  top: 66%;
  left: 64%;
}
header > .stars > span:nth-of-type(91) {
  top: 52%;
  left: 97%;
}
header > .stars > span:nth-of-type(92) {
  top: 14%;
  left: 72%;
}
header > .stars > span:nth-of-type(93) {
  top: 1%;
  left: 78%;
}
header > .stars > span:nth-of-type(94) {
  top: 45%;
  left: 99%;
}
header > .stars > span:nth-of-type(95) {
  top: 49%;
  left: 7%;
}
header > .stars > span:nth-of-type(96) {
  top: 63%;
  left: 23%;
}
header > .stars > span:nth-of-type(97) {
  top: 70%;
  left: 74%;
}
header > .stars > span:nth-of-type(98) {
  top: 84%;
  left: 57%;
}
header > .stars > span:nth-of-type(99) {
  top: 60%;
  left: 23%;
}
header > .stars > span:nth-of-type(100) {
  top: 61%;
  left: 39%;
}
header > .starsbig > span {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px white;
  z-index: 2;
}
header > .starsbig > span:nth-of-type(1) {
  top: 54%;
  left: 32%;
}
header > .starsbig > span:nth-of-type(2) {
  top: 9%;
  left: 24%;
}
header > .starsbig > span:nth-of-type(3) {
  top: 28%;
  left: 72%;
}
header > .starsbig > span:nth-of-type(4) {
  top: 46%;
  left: 71%;
}
header > .starsbig > span:nth-of-type(5) {
  top: 14%;
  left: 89%;
}
header > .starsbig > span:nth-of-type(6) {
  top: 65%;
  left: 36%;
}
header > .starsbig > span:nth-of-type(7) {
  top: 44%;
  left: 91%;
}
header > .starsbig > span:nth-of-type(8) {
  top: 13%;
  left: 66%;
}
header > .starsbig > span:nth-of-type(9) {
  top: 88%;
  left: 82%;
}
header > .starsbig > span:nth-of-type(10) {
  top: 66%;
  left: 63%;
}
header > .starsbig > span:nth-of-type(11) {
  top: 9%;
  left: 46%;
}
header > .starsbig > span:nth-of-type(12) {
  top: 88%;
  left: 99%;
}
header > .starsbig > span:nth-of-type(13) {
  top: 4%;
  left: 46%;
}
header > .starsbig > span:nth-of-type(14) {
  top: 64%;
  left: 27%;
}
header > .starsbig > span:nth-of-type(15) {
  top: 42%;
  left: 46%;
}
header > .starsbig > span:nth-of-type(16) {
  top: 47%;
  left: 22%;
}
header > .starsbig > span:nth-of-type(17) {
  top: 13%;
  left: 61%;
}
header > .starsbig > span:nth-of-type(18) {
  top: 27%;
  left: 2%;
}
header > .starsbig > span:nth-of-type(19) {
  top: 13%;
  left: 26%;
}
header > .starsbig > span:nth-of-type(20) {
  top: 86%;
  left: 87%;
}
header > .starsbig > span:nth-of-type(21) {
  top: 97%;
  left: 96%;
}
header > .starsbig > span:nth-of-type(22) {
  top: 5%;
  left: 22%;
}
header > .starsbig > span:nth-of-type(23) {
  top: 4%;
  left: 42%;
}
header > .starsbig > span:nth-of-type(24) {
  top: 26%;
  left: 67%;
}
header > .starsbig > span:nth-of-type(25) {
  top: 46%;
  left: 67%;
}
header > .starsbig > span:nth-of-type(26) {
  top: 85%;
  left: 29%;
}
header > .starsbig > span:nth-of-type(27) {
  top: 3%;
  left: 78%;
}
header > .starsbig > span:nth-of-type(28) {
  top: 58%;
  left: 63%;
}
header > .starsbig > span:nth-of-type(29) {
  top: 72%;
  left: 81%;
}
header > .starsbig > span:nth-of-type(30) {
  top: 50%;
  left: 56%;
}
header > .starsbig > span:nth-of-type(31) {
  top: 48%;
  left: 66%;
}
header > .starsbig > span:nth-of-type(32) {
  top: 67%;
  left: 88%;
}
header > .starsbig > span:nth-of-type(33) {
  top: 93%;
  left: 13%;
}
header > .starsbig > span:nth-of-type(34) {
  top: 10%;
  left: 79%;
}
header > .starsbig > span:nth-of-type(35) {
  top: 11%;
  left: 68%;
}
header > .starsbig > span:nth-of-type(36) {
  top: 29%;
  left: 73%;
}
header > .starsbig > span:nth-of-type(37) {
  top: 36%;
  left: 76%;
}
header > .starsbig > span:nth-of-type(38) {
  top: 45%;
  left: 74%;
}
header > .starsbig > span:nth-of-type(39) {
  top: 84%;
  left: 85%;
}
header > .starsbig > span:nth-of-type(40) {
  top: 9%;
  left: 95%;
}
header > .starsbig > span:nth-of-type(41) {
  top: 41%;
  left: 89%;
}
header > .starsbig > span:nth-of-type(42) {
  top: 80%;
  left: 31%;
}
header > .starsbig > span:nth-of-type(43) {
  top: 56%;
  left: 2%;
}
header > .starsbig > span:nth-of-type(44) {
  top: 44%;
  left: 54%;
}
header > .starsbig > span:nth-of-type(45) {
  top: 21%;
  left: 13%;
}
header > .starsbig > span:nth-of-type(46) {
  top: 4%;
  left: 62%;
}
header > .starsbig > span:nth-of-type(47) {
  top: 68%;
  left: 25%;
}
header > .starsbig > span:nth-of-type(48) {
  top: 29%;
  left: 21%;
}
header > .starsbig > span:nth-of-type(49) {
  top: 53%;
  left: 8%;
}
header > .starsbig > span:nth-of-type(50) {
  top: 97%;
  left: 74%;
}
header > .starsbig > span:nth-of-type(51) {
  top: 26%;
  left: 4%;
}
header > .starsbig > span:nth-of-type(52) {
  top: 1%;
  left: 68%;
}
header > .starsbig > span:nth-of-type(53) {
  top: 49%;
  left: 9%;
}
header > .starsbig > span:nth-of-type(54) {
  top: 30%;
  left: 64%;
}
header > .starsbig > span:nth-of-type(55) {
  top: 36%;
  left: 8%;
}
header > .starsbig > span:nth-of-type(56) {
  top: 88%;
  left: 4%;
}
header > .starsbig > span:nth-of-type(57) {
  top: 18%;
  left: 79%;
}
header > .starsbig > span:nth-of-type(58) {
  top: 47%;
  left: 10%;
}
header > .starsbig > span:nth-of-type(59) {
  top: 52%;
  left: 71%;
}
header > .starsbig > span:nth-of-type(60) {
  top: 50%;
  left: 34%;
}
header > .starsbig > span:nth-of-type(61) {
  top: 2%;
  left: 18%;
}
header > .starsbig > span:nth-of-type(62) {
  top: 50%;
  left: 69%;
}
header > .starsbig > span:nth-of-type(63) {
  top: 53%;
  left: 65%;
}
header > .starsbig > span:nth-of-type(64) {
  top: 53%;
  left: 85%;
}
header > .starsbig > span:nth-of-type(65) {
  top: 54%;
  left: 13%;
}
header > .starsbig > span:nth-of-type(66) {
  top: 68%;
  left: 53%;
}
header > .starsbig > span:nth-of-type(67) {
  top: 48%;
  left: 87%;
}
header > .starsbig > span:nth-of-type(68) {
  top: 30%;
  left: 2%;
}
header > .starsbig > span:nth-of-type(69) {
  top: 38%;
  left: 51%;
}
header > .starsbig > span:nth-of-type(70) {
  top: 36%;
  left: 49%;
}
header > .starsbig > span:nth-of-type(71) {
  top: 9%;
  left: 50%;
}
header > .starsbig > span:nth-of-type(72) {
  top: 56%;
  left: 83%;
}
header > .starsbig > span:nth-of-type(73) {
  top: 38%;
  left: 11%;
}
header > .starsbig > span:nth-of-type(74) {
  top: 99%;
  left: 77%;
}
header > .starsbig > span:nth-of-type(75) {
  top: 93%;
  left: 49%;
}
header > .starsbig > span:nth-of-type(76) {
  top: 77%;
  left: 41%;
}
header > .starsbig > span:nth-of-type(77) {
  top: 8%;
  left: 13%;
}
header > .starsbig > span:nth-of-type(78) {
  top: 18%;
  left: 86%;
}
header > .starsbig > span:nth-of-type(79) {
  top: 47%;
  left: 86%;
}
header > .starsbig > span:nth-of-type(80) {
  top: 39%;
  left: 88%;
}
header > .starsbig > span:nth-of-type(81) {
  top: 29%;
  left: 21%;
}
header > .starsbig > span:nth-of-type(82) {
  top: 62%;
  left: 61%;
}
header > .starsbig > span:nth-of-type(83) {
  top: 3%;
  left: 24%;
}
header > .starsbig > span:nth-of-type(84) {
  top: 85%;
  left: 3%;
}
header > .starsbig > span:nth-of-type(85) {
  top: 67%;
  left: 95%;
}
header > .starsbig > span:nth-of-type(86) {
  top: 50%;
  left: 4%;
}
header > .starsbig > span:nth-of-type(87) {
  top: 88%;
  left: 3%;
}
header > .starsbig > span:nth-of-type(88) {
  top: 9%;
  left: 42%;
}
header > .starsbig > span:nth-of-type(89) {
  top: 73%;
  left: 58%;
}
header > .starsbig > span:nth-of-type(90) {
  top: 5%;
  left: 2%;
}
header > .starsbig > span:nth-of-type(91) {
  top: 4%;
  left: 68%;
}
header > .starsbig > span:nth-of-type(92) {
  top: 90%;
  left: 7%;
}
header > .starsbig > span:nth-of-type(93) {
  top: 36%;
  left: 31%;
}
header > .starsbig > span:nth-of-type(94) {
  top: 12%;
  left: 41%;
}
header > .starsbig > span:nth-of-type(95) {
  top: 54%;
  left: 10%;
}
header > .starsbig > span:nth-of-type(96) {
  top: 85%;
  left: 77%;
}
header > .starsbig > span:nth-of-type(97) {
  top: 79%;
  left: 30%;
}
header > .starsbig > span:nth-of-type(98) {
  top: 25%;
  left: 72%;
}
header > .starsbig > span:nth-of-type(99) {
  top: 43%;
  left: 70%;
}
header > .starsbig > span:nth-of-type(100) {
  top: 19%;
  left: 7%;
}
header > .starsvbig > span {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px white;
  z-index: 2;
}
header > .starsvbig > span:nth-of-type(1) {
  top: 35%;
  left: 39%;
}
header > .starsvbig > span:nth-of-type(2) {
  top: 66%;
  left: 56%;
}
header > .starsvbig > span:nth-of-type(3) {
  top: 93%;
  left: 68%;
}
header > .starsvbig > span:nth-of-type(4) {
  top: 32%;
  left: 13%;
}
header > .starsvbig > span:nth-of-type(5) {
  top: 100%;
  left: 36%;
}
header > .starsvbig > span:nth-of-type(6) {
  top: 56%;
  left: 85%;
}
header > .starsvbig > span:nth-of-type(7) {
  top: 15%;
  left: 59%;
}
header > .starsvbig > span:nth-of-type(8) {
  top: 91%;
  left: 19%;
}
header > .starsvbig > span:nth-of-type(9) {
  top: 89%;
  left: 94%;
}
header > .starsvbig > span:nth-of-type(10) {
  top: 16%;
  left: 49%;
}
header > .starsvbig > span:nth-of-type(11) {
  top: 72%;
  left: 28%;
}
header > .starsvbig > span:nth-of-type(12) {
  top: 7%;
  left: 32%;
}
header > .starsvbig > span:nth-of-type(13) {
  top: 28%;
  left: 96%;
}
header > .starsvbig > span:nth-of-type(14) {
  top: 96%;
  left: 32%;
}
header > .starsvbig > span:nth-of-type(15) {
  top: 70%;
  left: 5%;
}
header > .starsvbig > span:nth-of-type(16) {
  top: 69%;
  left: 92%;
}
header > .starsvbig > span:nth-of-type(17) {
  top: 27%;
  left: 88%;
}
header > .starsvbig > span:nth-of-type(18) {
  top: 10%;
  left: 48%;
}
header > .starsvbig > span:nth-of-type(19) {
  top: 13%;
  left: 15%;
}
header > .starsvbig > span:nth-of-type(20) {
  top: 32%;
  left: 42%;
}
header > .starsvbig > span:nth-of-type(21) {
  top: 42%;
  left: 42%;
}
header > .starsvbig > span:nth-of-type(22) {
  top: 21%;
  left: 31%;
}
header > .starsvbig > span:nth-of-type(23) {
  top: 70%;
  left: 27%;
}
header > .starsvbig > span:nth-of-type(24) {
  top: 57%;
  left: 97%;
}
header > .starsvbig > span:nth-of-type(25) {
  top: 36%;
  left: 71%;
}
header > .starsvbig > span:nth-of-type(26) {
  top: 96%;
  left: 98%;
}
header > .starsvbig > span:nth-of-type(27) {
  top: 99%;
  left: 46%;
}
header > .starsvbig > span:nth-of-type(28) {
  top: 47%;
  left: 39%;
}
header > .starsvbig > span:nth-of-type(29) {
  top: 4%;
  left: 40%;
}
header > .starsvbig > span:nth-of-type(30) {
  top: 34%;
  left: 30%;
}
header > .starsvbig > span:nth-of-type(31) {
  top: 76%;
  left: 46%;
}
header > .starsvbig > span:nth-of-type(32) {
  top: 2%;
  left: 41%;
}
header > .starsvbig > span:nth-of-type(33) {
  top: 84%;
  left: 39%;
}
header > .starsvbig > span:nth-of-type(34) {
  top: 46%;
  left: 94%;
}
header > .starsvbig > span:nth-of-type(35) {
  top: 81%;
  left: 25%;
}
header > .starsvbig > span:nth-of-type(36) {
  top: 56%;
  left: 34%;
}
header > .starsvbig > span:nth-of-type(37) {
  top: 73%;
  left: 22%;
}
header > .starsvbig > span:nth-of-type(38) {
  top: 74%;
  left: 90%;
}
header > .starsvbig > span:nth-of-type(39) {
  top: 74%;
  left: 59%;
}
header > .starsvbig > span:nth-of-type(40) {
  top: 16%;
  left: 19%;
}
header > .starsvbig > span:nth-of-type(41) {
  top: 72%;
  left: 3%;
}
header > .starsvbig > span:nth-of-type(42) {
  top: 77%;
  left: 33%;
}
header > .starsvbig > span:nth-of-type(43) {
  top: 97%;
  left: 90%;
}
header > .starsvbig > span:nth-of-type(44) {
  top: 83%;
  left: 100%;
}
header > .starsvbig > span:nth-of-type(45) {
  top: 8%;
  left: 52%;
}
header > .starsvbig > span:nth-of-type(46) {
  top: 2%;
  left: 26%;
}
header > .starsvbig > span:nth-of-type(47) {
  top: 9%;
  left: 68%;
}
header > .starsvbig > span:nth-of-type(48) {
  top: 82%;
  left: 41%;
}
header > .starsvbig > span:nth-of-type(49) {
  top: 96%;
  left: 87%;
}
header > .starsvbig > span:nth-of-type(50) {
  top: 45%;
  left: 54%;
}
header > .starsvbig > span:nth-of-type(51) {
  top: 51%;
  left: 37%;
}
header > .starsvbig > span:nth-of-type(52) {
  top: 59%;
  left: 5%;
}
header > .starsvbig > span:nth-of-type(53) {
  top: 20%;
  left: 8%;
}
header > .starsvbig > span:nth-of-type(54) {
  top: 96%;
  left: 21%;
}
header > .starsvbig > span:nth-of-type(55) {
  top: 60%;
  left: 41%;
}
header > .starsvbig > span:nth-of-type(56) {
  top: 62%;
  left: 31%;
}
header > .starsvbig > span:nth-of-type(57) {
  top: 72%;
  left: 20%;
}
header > .starsvbig > span:nth-of-type(58) {
  top: 47%;
  left: 98%;
}
header > .starsvbig > span:nth-of-type(59) {
  top: 38%;
  left: 96%;
}
header > .starsvbig > span:nth-of-type(60) {
  top: 93%;
  left: 33%;
}
header > .starsvbig > span:nth-of-type(61) {
  top: 46%;
  left: 56%;
}
header > .starsvbig > span:nth-of-type(62) {
  top: 20%;
  left: 49%;
}
header > .starsvbig > span:nth-of-type(63) {
  top: 97%;
  left: 62%;
}
header > .starsvbig > span:nth-of-type(64) {
  top: 83%;
  left: 18%;
}
header > .starsvbig > span:nth-of-type(65) {
  top: 84%;
  left: 85%;
}
header > .starsvbig > span:nth-of-type(66) {
  top: 60%;
  left: 95%;
}
header > .starsvbig > span:nth-of-type(67) {
  top: 81%;
  left: 89%;
}
header > .starsvbig > span:nth-of-type(68) {
  top: 3%;
  left: 83%;
}
header > .starsvbig > span:nth-of-type(69) {
  top: 23%;
  left: 22%;
}
header > .starsvbig > span:nth-of-type(70) {
  top: 18%;
  left: 71%;
}
header > .starsvbig > span:nth-of-type(71) {
  top: 53%;
  left: 72%;
}
header > .starsvbig > span:nth-of-type(72) {
  top: 31%;
  left: 71%;
}
header > .starsvbig > span:nth-of-type(73) {
  top: 56%;
  left: 11%;
}
header > .starsvbig > span:nth-of-type(74) {
  top: 50%;
  left: 62%;
}
header > .starsvbig > span:nth-of-type(75) {
  top: 28%;
  left: 92%;
}
header > .starsvbig > span:nth-of-type(76) {
  top: 46%;
  left: 73%;
}
header > .starsvbig > span:nth-of-type(77) {
  top: 65%;
  left: 61%;
}
header > .starsvbig > span:nth-of-type(78) {
  top: 24%;
  left: 55%;
}
header > .starsvbig > span:nth-of-type(79) {
  top: 66%;
  left: 88%;
}
header > .starsvbig > span:nth-of-type(80) {
  top: 34%;
  left: 71%;
}
header > .starsvbig > span:nth-of-type(81) {
  top: 83%;
  left: 81%;
}
header > .starsvbig > span:nth-of-type(82) {
  top: 85%;
  left: 31%;
}
header > .starsvbig > span:nth-of-type(83) {
  top: 56%;
  left: 2%;
}
header > .starsvbig > span:nth-of-type(84) {
  top: 16%;
  left: 81%;
}
header > .starsvbig > span:nth-of-type(85) {
  top: 12%;
  left: 86%;
}
header > .starsvbig > span:nth-of-type(86) {
  top: 40%;
  left: 72%;
}
header > .starsvbig > span:nth-of-type(87) {
  top: 9%;
  left: 68%;
}
header > .starsvbig > span:nth-of-type(88) {
  top: 89%;
  left: 82%;
}
header > .starsvbig > span:nth-of-type(89) {
  top: 49%;
  left: 50%;
}
header > .starsvbig > span:nth-of-type(90) {
  top: 79%;
  left: 63%;
}
header > .starsvbig > span:nth-of-type(91) {
  top: 49%;
  left: 96%;
}
header > .starsvbig > span:nth-of-type(92) {
  top: 8%;
  left: 16%;
}
header > .starsvbig > span:nth-of-type(93) {
  top: 14%;
  left: 90%;
}
header > .starsvbig > span:nth-of-type(94) {
  top: 55%;
  left: 24%;
}
header > .starsvbig > span:nth-of-type(95) {
  top: 25%;
  left: 82%;
}
header > .starsvbig > span:nth-of-type(96) {
  top: 62%;
  left: 65%;
}
header > .starsvbig > span:nth-of-type(97) {
  top: 10%;
  left: 55%;
}
header > .starsvbig > span:nth-of-type(98) {
  top: 23%;
  left: 17%;
}
header > .starsvbig > span:nth-of-type(99) {
  top: 87%;
  left: 73%;
}
header > .starsvbig > span:nth-of-type(100) {
  top: 23%;
  left: 61%;
}
header > .meteorite > span:nth-of-type(1) {
  width: 50px;
  height: 5px;
  position: absolute;
  border-radius: 50%;
  transform: rotate(30deg);
  box-shadow: 0 0 20px #ffffff;
  background-color: #ffffff;
  opacity: 0.5;
  animation: meteorite 4s linear infinite forwards;
}
header > .meteorite > span:nth-of-type(2) {
  width: 80px;
  height: 5px;
  position: absolute;
  top: 0;
  left: 120%;
  border-radius: 50%;
  transform: rotate(150deg);
  box-shadow: 0 0 30px #ffffff;
  background-color: #ffffff;
  animation: meteorite2 2s linear infinite forwards 5s;
}
header > .background > figure {
  position: absolute;
}
header > .background > .trees {
  bottom: 120px;
  width: 100%;
  z-index: 3;
}
header > .background > .trees > img {
  color: #000000;
}
header > .background > .trees > div {
  background-color: #181D23;
  height: 300px;
  position: absolute;
  bottom: -270px;
  width: 100%;
}
header > .background > .moon {
  top: 0;
  left: 70%;
  width: 20%;
  z-index: 4;
  animation: moonrotate linear infinite 2000s;
}
header > .background > .person {
  top: 38%;
  left: 20%;
  width: 10%;
  z-index: 5;
}
header > .text-header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  width: 100%;
  font-family: checkra;
}
header > .text-header > .text-header-center {
  width: 30%;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}
header > .text-header > .text-header-center > h1 {
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: bold;
}
header > .text-header > .text-header-center > h1 > span {
  color: #F668B4;
}
header > .text-header > .text-header-center > a {
  text-align: center;
  padding: 15px;
  margin: 10px;
  text-transform: uppercase;
  transition: 0.4s;
  color: #ffffff;
}
header > .text-header > .text-header-center > a:nth-of-type(1) {
  background-color: #F668B4;
  border: 2px solid #F668B4;
}
header > .text-header > .text-header-center > a:nth-of-type(2) {
  border: 2px solid #ffffff;
  background-color: transparent;
}
header > .text-header > .text-header-center > a:hover {
  box-shadow: 0 0 30px #F668B4;
  border: 1px solid #F668B4;
  transform: translateY(-5px);
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  header .row-between > div:nth-of-type(1) > div {
    font-size: 2rem;
  }
  header .row-between > div:nth-of-type(2) > .menu {
    z-index: 2;
    left: 80%;
  }
  header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1) {
    width: 20px;
    z-index: 7;
    height: 3px;
  }
  header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1)::after, header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1)::before {
    width: 20px;
    height: 3px;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul > li {
    width: 100%;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul > li > a {
    font-size: 3rem;
  }
  header > .stars > span,
  header > .starsbig > span,
  header > .starsvbig > span {
    z-index: 11;
  }
  header > .meteorite > span {
    z-index: 3;
  }
  header > .meteorite > span:nth-of-type(1) {
    rotate: 30deg;
  }
  header > .meteorite > span:nth-of-type(2) {
    rotate: -30deg;
  }
  header > .background > .trees {
    z-index: 50;
  }
  header > .background > .moon {
    width: 200px;
    height: 500px;
    top: 50%;
    left: 40%;
    z-index: 2;
  }
  header > .background > .person {
    display: none;
  }
  header > .text-header {
    z-index: 1;
    transform: translateY(-100px);
  }
  header > .text-header > .text-header-center {
    width: 90%;
    font-size: 1.1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  header > .text-header > .text-header-center > h1 {
    font-size: 3rem;
  }
  header > .text-header > .text-header-center > a {
    width: 130px;
  }
  header > .text-header > .text-header-center > a:nth-of-type(1) {
    transform: translateY(51px);
  }
  header > .text-header > .text-header-center > a:nth-of-type(2) {
    transform: translate(-160px, 100px);
  }
}
@media screen and (min-width: 769px) {
  header .row-between > div:nth-of-type(1) > div {
    font-size: 3rem;
  }
  header .row-between > div:nth-of-type(2) > .menu {
    z-index: 2;
    left: 90%;
  }
  header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1) {
    width: 20px;
    z-index: 7;
    height: 3px;
  }
  header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1)::after, header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1)::before {
    width: 20px;
    height: 3px;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul > li {
    width: 100%;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul > li > a {
    font-size: 3rem;
  }
  header > .stars > span,
  header > .starsbig > span,
  header > .starsvbig > span {
    z-index: 11;
  }
  header > .meteorite > span {
    z-index: 3;
  }
  header > .meteorite > span:nth-of-type(1) {
    rotate: 25deg;
  }
  header > .meteorite > span:nth-of-type(2) {
    rotate: -24deg;
  }
  header > .background > .trees {
    z-index: 50;
  }
  header > .background > .moon {
    width: 200px;
    height: 500px;
    top: 50%;
    left: 40%;
    z-index: 2;
  }
  header > .background > .person {
    display: none;
  }
  header > .text-header {
    z-index: 1;
    transform: translateY(-50px);
  }
  header > .text-header > .text-header-center {
    width: 90%;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  header > .text-header > .text-header-center > h1 {
    font-size: 5rem;
  }
  header > .text-header > .text-header-center > a {
    width: 150px;
  }
  header > .text-header > .text-header-center > a:nth-of-type(1) {
    position: absolute;
    top: 80%;
    left: 10%;
  }
  header > .text-header > .text-header-center > a:nth-of-type(2) {
    position: absolute;
    top: 80%;
    left: 70%;
  }
}
@media screen and (min-width: 992px) {
  header .row-between > div:nth-of-type(1) > div {
    font-size: 4rem;
  }
  header .row-between > div:nth-of-type(2) > .menu {
    z-index: 2;
    left: 94%;
  }
  header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1) {
    width: 20px;
    z-index: 7;
    height: 3px;
  }
  header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1)::after, header .row-between > div:nth-of-type(2) > .menu > div:nth-of-type(1)::before {
    width: 20px;
    height: 3px;
  }
  header .row-between > div:nth-of-type(2) > .menu #list {
    justify-content: start;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul {
    margin-left: 130px;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul > li {
    width: 100%;
  }
  header .row-between > div:nth-of-type(2) > .menu #list > ul > li > a {
    font-size: 3rem;
  }
  header > .stars > span,
  header > .starsbig > span,
  header > .starsvbig > span {
    z-index: 11;
  }
  header > .meteorite > span {
    z-index: 3;
  }
  header > .meteorite > span:nth-of-type(1) {
    rotate: 4deg;
  }
  header > .meteorite > span:nth-of-type(2) {
    rotate: -4deg;
  }
  header > .background > .trees {
    z-index: 50;
  }
  header > .background > .moon {
    width: 800px;
    height: 800px;
    top: 40%;
    left: 40%;
    z-index: 2;
  }
  header > .background > .person {
    display: block;
    top: 50%;
    z-index: 99;
  }
  header > .text-header {
    z-index: 1;
    position: absolute;
    left: 10%;
    top: 50px;
  }
  header > .text-header > .text-header-center {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
  header > .text-header > .text-header-center > h1 {
    font-size: 5rem;
  }
  header > .text-header > .text-header-center > a {
    width: 150px;
  }
  header > .text-header > .text-header-center > a:nth-of-type(1) {
    position: absolute;
    top: 70%;
    left: 20%;
  }
  header > .text-header > .text-header-center > a:nth-of-type(2) {
    position: absolute;
    top: 70%;
    left: 40%;
  }
}
#up > a {
  position: fixed;
  left: 90%;
  top: 90%;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: all 0.4s;
  background-image: url("../images/earth-planet-solar-system-burn.jpg");
  background-position: center;
}
@media screen and (max-width: 566px) {
  #up > a {
    left: 82%;
  }
}
#up > a > i {
  color: #ffffff;
  font-size: 3rem;
}
#up > a:hover {
  background-image: url("../images/222.jpg");
}
#up > a:hover > i {
  color: black;
}

@font-face {
  font-family: main;
  src: url("../fonts/SFNSDisplay-Light.otf");
}
@font-face {
  font-family: barker;
  src: url("../fonts/wg_barker.ttf");
}
@font-face {
  font-family: borel;
  src: url("../fonts/Borel-Regular.ttf");
}
@font-face {
  font-family: checkra;
  src: url("../fonts/ChakraPetch-Bold.ttf ");
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #F668B4;
}

::-webkit-scrollbar-thumb {
  background: #F668B4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
  border: 1px solid #F668B4;
  -webkit-box-shadow: inset 0 0 6px #F668B4;
}

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  position: relative;
  z-index: -99;
  height: 200vh;
}
body ul {
  list-style-type: none;
}
body a,
body a:visited,
body a:active {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes moonrotate {
  to {
    rotate: 36000deg;
  }
}
@keyframes meteorite {
  0% {
    top: -50px;
    left: -50px;
  }
  10% {
    top: 100%;
    left: 100%;
  }
  10.1%, 100% {
    top: -100px;
    left: -100px;
  }
}
@keyframes meteorite2 {
  0% {
    top: 0;
    left: 120%;
  }
  10% {
    top: 100%;
    left: 0%;
  }
  10.1%, 100% {
    top: 0;
    left: 120%;
  }
}
@keyframes space-animation {
  from {
    background-position-x: -100%;
  }
  to {
    background-position-x: 100%;
  }
}
@keyframes textRotate {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-webkit-keyframes travelOrbit {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes travelOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes unrotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes unrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes skillsDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}
@keyframes fadeInSkills {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes footerLightingFrist {
  0% {
    box-shadow: 0;
  }
  30% {
    box-shadow: 0 0 100px yellow, 0 0 200px yellow;
  }
  70% {
    box-shadow: 0 0 200px yellow, 0 0 300px yellow;
  }
  100% {
    box-shadow: 0 0 300px yellow, 0 0 400px yellow;
  }
}
@keyframes footerLightingSecond {
  0% {
    box-shadow: 0;
  }
  30% {
    box-shadow: 0 0 100px #F668B4, 0 0 200px #F668B4;
  }
  70% {
    box-shadow: 0 0 200px #F668B4, 0 0 300px #F668B4;
  }
  100% {
    box-shadow: 0 0 300px #F668B4, 0 0 400px #F668B4;
  }
}
@keyframes footerLightingThird {
  0% {
    box-shadow: 0;
  }
  30% {
    box-shadow: 0 0 100px red, 0 0 200px red;
  }
  70% {
    box-shadow: 0 0 200px red, 0 0 300px red;
  }
  100% {
    box-shadow: 0 0 300px red, 0 0 400px red;
  }
}
.clickMenuEffect {
  transform: translateX(-40px) !important;
  background-color: transparent !important;
}
.clickMenuEffect::after {
  transform: translate(30px, 0) rotate(45deg) !important;
}
.clickMenuEffect::before {
  transform: translate(30px, 0) rotate(-45deg) !important;
}

.box {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-3400px);
}

.show {
  opacity: 1;
  transform: none;
}

.showSkills .dot {
  animation: skillsDot 2s linear forwards;
}
.showSkills circle:nth-child(2) {
  animation: fadeInSkills 1s 2.5s linear forwards;
}
.showSkills .skills-title {
  animation: fadeInSkills 1s 2.5s linear forwards;
}

.more {
  background-image: url("../images/backgroundSection.png");
  background-color: black;
  animation: space-animation 60s linear infinite;
  width: 100%;
  transform: translateY(-200px);
  position: relative;
  z-index: -1;
  font-family: main;
}
.more > #about {
  font-size: 10rem;
  font-weight: bolder;
  font-family: barker;
  letter-spacing: 20px;
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("../images/wp2793093-red-galaxy-wallpaper-hd.jpg");
  background-size: 100%;
  animation: textRotate 30s cubic-bezier(0.3, 0, 0.7, 1) infinite;
  padding-top: 250px;
}
@media screen and (max-width: 1400px) {
  .more > #about {
    font-size: 10rem;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 903px) {
  .more > #about {
    font-size: 7rem;
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 723px) {
  .more > #about {
    font-size: 5rem;
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 1401px) {
  .more > #about {
    font-size: 14rem;
    letter-spacing: 5px;
  }
}
.more > .glass {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  width: 90%;
  border-radius: 25px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.384), inset 0 0 20px 0px white;
  background: rgba(255, 255, 255, 0.205);
  overflow: hidden;
  border: none;
}
.more > .glass::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.247);
  z-index: -1;
  border: none;
}
.more > .glass > figure > img {
  border-radius: 50%;
  box-shadow: 0 0 10px #000000;
}
@media screen and (max-width: 628px) {
  .more > .glass > figure {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 628px) {
  .more > .glass > .about-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
  }
}
.more > .glass > .about-text h5 {
  font-weight: bold;
  font-size: 1.6rem;
}
.more > .glass > .about-text > a {
  padding: 10px;
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  transition: all 0.4s;
}
.more > .glass > .about-text > a:hover {
  background-color: transparent;
  border: 1px solid #F668B4;
  box-shadow: 0 0 30px #F668B4;
  transform: translateY(-8px);
}
.more > .glass > .about-text > #skills-mobile > div {
  background-color: rgba(0, 0, 0, 0.329);
}
.more > .glass > .about-text > #skills-mobile > div > div {
  margin: 10px;
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(1) {
  background-color: rgb(71, 71, 255);
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(1) > a > i {
  color: #ffffff;
  font-size: 3rem;
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(2) {
  background-color: aqua;
  cursor: pointer;
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(2) .tailwind-logo {
  fill: white;
  fill-rule: evenodd;
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(3) {
  background-color: rgb(190, 190, 0);
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(3) > a {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(4) {
  background-color: orange;
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(4) > a {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(5) {
  background-color: blue;
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(5) > a {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(6) {
  background-color: orangered;
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(6) > a {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(7) {
  background-color: orangered;
}
.more > .glass > .about-text > #skills-mobile > div > div:nth-of-type(7) > a {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.more > h5 {
  font-size: 10rem;
  font-weight: bolder;
  font-family: barker;
  letter-spacing: 20px;
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("../images/wp2793093-red-galaxy-wallpaper-hd.jpg");
  background-size: 100%;
  animation: textRotate 30s cubic-bezier(0.3, 0, 0.7, 1) infinite;
  margin-top: 180px;
}
@media screen and (max-width: 1400px) {
  .more > h5 {
    font-size: 10rem;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 903px) {
  .more > h5 {
    font-size: 7rem;
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 723px) {
  .more > h5 {
    font-size: 5rem;
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 1401px) {
  .more > h5 {
    font-size: 14rem;
    letter-spacing: 5px;
  }
}

@font-face {
  font-family: main;
  src: url("../fonts/SFNSDisplay-Light.otf");
}
@font-face {
  font-family: barker;
  src: url("../fonts/wg_barker.ttf");
}
@font-face {
  font-family: borel;
  src: url("../fonts/Borel-Regular.ttf");
}
@font-face {
  font-family: checkra;
  src: url("../fonts/ChakraPetch-Bold.ttf ");
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #F668B4;
}

::-webkit-scrollbar-thumb {
  background: #F668B4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
  border: 1px solid #F668B4;
  -webkit-box-shadow: inset 0 0 6px #F668B4;
}

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  position: relative;
  z-index: -99;
  height: 200vh;
}
body ul {
  list-style-type: none;
}
body a,
body a:visited,
body a:active {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes moonrotate {
  to {
    rotate: 36000deg;
  }
}
@keyframes meteorite {
  0% {
    top: -50px;
    left: -50px;
  }
  10% {
    top: 100%;
    left: 100%;
  }
  10.1%, 100% {
    top: -100px;
    left: -100px;
  }
}
@keyframes meteorite2 {
  0% {
    top: 0;
    left: 120%;
  }
  10% {
    top: 100%;
    left: 0%;
  }
  10.1%, 100% {
    top: 0;
    left: 120%;
  }
}
@keyframes space-animation {
  from {
    background-position-x: -100%;
  }
  to {
    background-position-x: 100%;
  }
}
@keyframes textRotate {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-webkit-keyframes travelOrbit {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes travelOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes unrotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes unrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes skillsDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}
@keyframes fadeInSkills {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes footerLightingFrist {
  0% {
    box-shadow: 0;
  }
  30% {
    box-shadow: 0 0 100px yellow, 0 0 200px yellow;
  }
  70% {
    box-shadow: 0 0 200px yellow, 0 0 300px yellow;
  }
  100% {
    box-shadow: 0 0 300px yellow, 0 0 400px yellow;
  }
}
@keyframes footerLightingSecond {
  0% {
    box-shadow: 0;
  }
  30% {
    box-shadow: 0 0 100px #F668B4, 0 0 200px #F668B4;
  }
  70% {
    box-shadow: 0 0 200px #F668B4, 0 0 300px #F668B4;
  }
  100% {
    box-shadow: 0 0 300px #F668B4, 0 0 400px #F668B4;
  }
}
@keyframes footerLightingThird {
  0% {
    box-shadow: 0;
  }
  30% {
    box-shadow: 0 0 100px red, 0 0 200px red;
  }
  70% {
    box-shadow: 0 0 200px red, 0 0 300px red;
  }
  100% {
    box-shadow: 0 0 300px red, 0 0 400px red;
  }
}
.clickMenuEffect {
  transform: translateX(-40px) !important;
  background-color: transparent !important;
}
.clickMenuEffect::after {
  transform: translate(30px, 0) rotate(45deg) !important;
}
.clickMenuEffect::before {
  transform: translate(30px, 0) rotate(-45deg) !important;
}

.box {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-3400px);
}

.show {
  opacity: 1;
  transform: none;
}

.showSkills .dot {
  animation: skillsDot 2s linear forwards;
}
.showSkills circle:nth-child(2) {
  animation: fadeInSkills 1s 2.5s linear forwards;
}
.showSkills .skills-title {
  animation: fadeInSkills 1s 2.5s linear forwards;
}

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  gap: 40px;
}
#skills > div {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
#skills > div > .percent > .dot {
  transform: rotate(calc(3.6deg * var(--num)));
}
#skills > div > .percent > .dot::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--clr);
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
}
#skills > div > .percent > svg {
  transform: rotate(270deg);
}
#skills > div > .percent > svg > circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: transparent;
  transform: translate(5px, 5px);
}
#skills > div > .percent > svg > circle:nth-child(2) {
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - 440 * var(--num) / 100);
  opacity: 0;
}
#skills > div > .percent > .skills-title {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  flex-direction: column;
}
#skills > div > .percent > .skills-title > h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: main;
  src: url("../fonts/SFNSDisplay-Light.otf");
}
@font-face {
  font-family: barker;
  src: url("../fonts/wg_barker.ttf");
}
@font-face {
  font-family: borel;
  src: url("../fonts/Borel-Regular.ttf");
}
@font-face {
  font-family: checkra;
  src: url("../fonts/ChakraPetch-Bold.ttf ");
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #F668B4;
}

::-webkit-scrollbar-thumb {
  background: #F668B4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
  border: 1px solid #F668B4;
  -webkit-box-shadow: inset 0 0 6px #F668B4;
}

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  position: relative;
  z-index: -99;
  height: 200vh;
}
body ul {
  list-style-type: none;
}
body a,
body a:visited,
body a:active {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes moonrotate {
  to {
    rotate: 36000deg;
  }
}
@keyframes meteorite {
  0% {
    top: -50px;
    left: -50px;
  }
  10% {
    top: 100%;
    left: 100%;
  }
  10.1%, 100% {
    top: -100px;
    left: -100px;
  }
}
@keyframes meteorite2 {
  0% {
    top: 0;
    left: 120%;
  }
  10% {
    top: 100%;
    left: 0%;
  }
  10.1%, 100% {
    top: 0;
    left: 120%;
  }
}
@keyframes space-animation {
  from {
    background-position-x: -100%;
  }
  to {
    background-position-x: 100%;
  }
}
@keyframes textRotate {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@-webkit-keyframes travelOrbit {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes travelOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes unrotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes unrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes skillsDot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(calc(3.6deg * var(--num)));
  }
}
@keyframes fadeInSkills {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes footerLightingFrist {
  0% {
    box-shadow: 0;
  }
  30% {
    box-shadow: 0 0 100px yellow, 0 0 200px yellow;
  }
  70% {
    box-shadow: 0 0 200px yellow, 0 0 300px yellow;
  }
  100% {
    box-shadow: 0 0 300px yellow, 0 0 400px yellow;
  }
}
@keyframes footerLightingSecond {
  0% {
    box-shadow: 0;
  }
  30% {
    box-shadow: 0 0 100px #F668B4, 0 0 200px #F668B4;
  }
  70% {
    box-shadow: 0 0 200px #F668B4, 0 0 300px #F668B4;
  }
  100% {
    box-shadow: 0 0 300px #F668B4, 0 0 400px #F668B4;
  }
}
@keyframes footerLightingThird {
  0% {
    box-shadow: 0;
  }
  30% {
    box-shadow: 0 0 100px red, 0 0 200px red;
  }
  70% {
    box-shadow: 0 0 200px red, 0 0 300px red;
  }
  100% {
    box-shadow: 0 0 300px red, 0 0 400px red;
  }
}
.clickMenuEffect {
  transform: translateX(-40px) !important;
  background-color: transparent !important;
}
.clickMenuEffect::after {
  transform: translate(30px, 0) rotate(45deg) !important;
}
.clickMenuEffect::before {
  transform: translate(30px, 0) rotate(-45deg) !important;
}

.box {
  opacity: 0;
  transition: all 1s;
  transform: translateX(-3400px);
}

.show {
  opacity: 1;
  transform: none;
}

.showSkills .dot {
  animation: skillsDot 2s linear forwards;
}
.showSkills circle:nth-child(2) {
  animation: fadeInSkills 1s 2.5s linear forwards;
}
.showSkills .skills-title {
  animation: fadeInSkills 1s 2.5s linear forwards;
}

.projects {
  padding-bottom: 100px;
}
.projects > h5 {
  font-size: 10rem;
  font-weight: bolder;
  font-family: barker;
  letter-spacing: 20px;
  text-align: center;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url("../images/wp2793093-red-galaxy-wallpaper-hd.jpg");
  background-size: 100%;
  animation: textRotate 30s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}
@media screen and (max-width: 1400px) {
  .projects > h5 {
    font-size: 10rem;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 903px) {
  .projects > h5 {
    font-size: 7rem;
    letter-spacing: 10px;
  }
}
@media screen and (max-width: 723px) {
  .projects > h5 {
    font-size: 5rem;
    letter-spacing: 5px;
  }
}
@media screen and (min-width: 1401px) {
  .projects > h5 {
    font-size: 14rem;
    letter-spacing: 5px;
  }
}
.projects > .row {
  padding: 20px;
}
.projects > .row > .projects-card {
  box-shadow: 0 0 30px #ffffff;
}
.projects > .row > .projects-card > .projects-card-date {
  box-shadow: 0 0 30px #ffffff;
  border-radius: 0 0 90% 0;
  padding: 0.7em 2.5em 1.5rem 0.7em;
}
.projects > .row > .projects-card > .project-card-details {
  transition: all 0.3s;
}
.projects > .row > .projects-card > .project-card-details > .project-card-details-about {
  opacity: 0.8;
}
.projects > .row > .projects-card > .project-card-details > .project-card-details-about > div {
  cursor: pointer;
}
.projects > .row > .projects-card > .project-card-details > .project-card-details-socials {
  top: 0px;
  color: #c0c0c0;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.projects > .row > .projects-card > .project-card-details > .project-card-details-socials > div {
  padding: 10px;
}
.projects > .row > .projects-card > .project-card-details > .project-card-details-socials > div:hover {
  cursor: pointer;
  color: #fff;
}
.projects > .row > .projects-card:hover > .project-card-details {
  top: 48%;
}

.footer > .glass {
  z-index: 10;
  margin-bottom: 50px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 30px;
  width: 90%;
  border-radius: 25px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.384), inset 0 0 20px 0px white;
  background: rgba(255, 255, 255, 0.205);
  overflow: hidden;
  border: none;
  margin-top: 50px;
}
.footer > .glass::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.247);
  z-index: -1;
  border: none;
}
.footer > .glass > .footer-glass-socials > div {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  transition: all 0.4s;
  box-shadow: 0 0 21px 10px rgba(0, 0, 0, 0.65);
}
.footer > .glass > .footer-glass-socials > div:hover {
  transform: translateY(-5px);
  box-shadow: 0 42px 22px 0 rgba(0, 0, 0, 0.65);
}
.footer > .footer-box-shadow {
  animation: footerLightingFrist 3s linear alternate infinite;
}
.footer > .footer-box-shadow::before {
  content: "";
  width: 140%;
  position: absolute;
  top: 0;
  left: -20%;
  border-radius: 50%;
  height: 40%;
  animation: footerLightingSecond 3s 3s linear alternate infinite;
}
.footer > .footer-box-shadow::after {
  content: "";
  animation: footerLightingThird 3s 6s linear alternate infinite;
  position: absolute;
  top: 0;
  left: -20%;
  border-radius: 50%;
  width: 140%;
  height: 40%;
}

/*# sourceMappingURL=master.css.map */
