@import 'global';

$image: '../images/backgroundSection.png';

.more {
    background-image: url($image);
    background-color: black;
    animation: space-animation 60s linear infinite;
    width: 100%;
    transform: translateY(-200px);
    position: relative;
    z-index: -1;
    font-family: main;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;

    >#about {
        @include titletext;
        padding-top: 250px;


    }

    >.glass {
        @include glass;

        >figure {
            >img {
                // width: 300px;
                // height: 300px;
                border-radius: 50%;
                box-shadow: 0 0 10px $black;
            }
            @media screen and (max-width:628px) {
                position: absolute;
                top: 40px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        >.about-text {
            height: 250px;

            @media screen and (max-width:628px){
                position: absolute;top: 50%;
                left: 50%;
                transform: translateX(-50%);
                width: 300px;
            }

            h5 {
                font-weight: bold;
                font-size: 1.6rem;
            }

            >a {
                padding: 10px;
                background-color: $black;
                border-radius: 10px;
                color: $white;
                transition: all .4s;

                &:hover {
                    background-color: transparent;
                    border: 1px solid $pink;
                    box-shadow: 0 0 30px $pink;
                    transform: translateY(-8px);
                }
            }

            >#skills-mobile {

                >div {
                    background-color: rgba(0, 0, 0, 0.329);

                    >div {
                        margin: 10px;
                    }

                    >div:nth-of-type(1) {
                        background-color: rgb(71, 71, 255);

                        >a {
                            >i {
                                color: $white;
                                font-size: 3rem;
                            }
                        }
                    }

                    >div:nth-of-type(2) {
                        background-color: aqua;
                        cursor: pointer;

                        // >a {
                        .tailwind-logo {
                            fill: white;
                            fill-rule: evenodd;
                        }

                        // }
                    }

                    >div:nth-of-type(3) {
                        background-color: rgb(190, 190, 0);

                        >a {
                            color: $white;
                            font-size: 3rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }

                    >div:nth-of-type(4) {
                        background-color: orange;

                        >a {
                            color: $white;
                            font-size: 1.5rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                    >div:nth-of-type(5) {
                        background-color: blue;

                        >a {
                            color: $white;
                            font-size: 1.8rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                    >div:nth-of-type(6) {
                        background-color: orangered;

                        >a {
                            color: $white;
                            font-size: 3rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                    >div:nth-of-type(7) {
                        background-color: orangered;

                        >a {
                            color: $white;
                            font-size: 2rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    >h5{
        @include titletext;
        margin-top: 180px;
    }

}

