@import 'global';

$image: '../images/backgroundSection.png';

.more {
    background-image: url($image);
    background-color: black;
    animation: space-animation 60s linear infinite;
    width: 100%;
    height: 300vh;
    transform: translateY(-200px);
    position: relative;
    z-index: -1;
    font-family: main;
    // display: flex;
    // justify-content: center;
    // flex-direction: column;

    >#about {
        @include titletext;
        padding-top: 250px;


    }

    >.glass {
        @include glass;

        >figure {
            >img {
                // width: 300px;
                // height: 300px;
                border-radius: 50%;
                box-shadow: 0 0 10px $black;
            }
            @media screen and (max-width:628px) {
                position: absolute;
                top: 40px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        >.about-text {
            height: 250px;

            @media screen and (max-width:628px){
                position: absolute;top: 50%;
                left: 50%;
                transform: translateX(-50%);
                width: 300px;
            }

            h5 {
                font-weight: bold;
                font-size: 1.6rem;
            }

            >a {
                padding: 10px;
                background-color: $black;
                border-radius: 10px;
                color: $white;
                transition: all .4s;

                &:hover {
                    background-color: transparent;
                    border: 1px solid $pink;
                    box-shadow: 0 0 30px $pink;
                    transform: translateY(-8px);
                }
            }

            >#skills-mobile {

                >div {
                    background-color: rgba(0, 0, 0, 0.329);

                    >div {
                        margin: 10px;
                    }

                    >div:nth-of-type(1) {
                        background-color: rgb(71, 71, 255);

                        >a {
                            >i {
                                color: $white;
                                font-size: 3rem;
                            }
                        }
                    }

                    >div:nth-of-type(2) {
                        background-color: aqua;
                        cursor: pointer;

                        // >a {
                        .tailwind-logo {
                            fill: white;
                            fill-rule: evenodd;
                        }

                        // }
                    }

                    >div:nth-of-type(3) {
                        background-color: rgb(190, 190, 0);

                        >a {
                            color: $white;
                            font-size: 3rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }

                    >div:nth-of-type(4) {
                        background-color: orange;

                        >a {
                            color: $white;
                            font-size: 1.5rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                    >div:nth-of-type(5) {
                        background-color: blue;

                        >a {
                            color: $white;
                            font-size: 1.8rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                    >div:nth-of-type(6) {
                        background-color: orangered;

                        >a {
                            color: $white;
                            font-size: 3rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                    >div:nth-of-type(7) {
                        background-color: orangered;

                        >a {
                            color: $white;
                            font-size: 2rem;
                            font-weight: bold;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    #skills {
        height: 400px;
        position: relative;
        margin-top: 100px;
        pointer-events: fill;
        cursor: pointer;
        -webkit-transform: perspective(900px);
        transform: perspective(900px);

        &:hover .skills-circle {
            -webkit-transform: rotate3d(60, 35, 0, 360deg);
            transform: rotate3d(60, 35, 0, 360deg);
        }

        .skills-circle {
            width: 400px;
            height: 400px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-radius: 50%;
            transition: 3s all;

            .skill-orbit {
                border-radius: 50%;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                transition: 3s all;
                transform: perspective(900px);

                .skill-planet {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    position: absolute;
                    top: -15px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    font-family: Arial;
                    font-weight: 100;
                    text-align: center;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    transition: 1s all;
                }

                &:nth-child(1) {
                    width: 100%;
                    height: 100%;

                    >.skill-planet {
                        border: 2px solid #FFF9BF;
                        box-shadow: 0 0 10px #FFF9BF;
                        color: #FFF9BF;
                        font-size: 16px;
                        line-height: 26px;
                        -webkit-animation: travelOrbit 10s infinite linear;
                        animation: travelOrbit 10s infinite linear;
                        -webkit-transform-origin: 50% 713%;
                        transform-origin: 50% 713%;

                        >span {
                            -webkit-animation: unrotate 10s infinite linear;
                            animation: unrotate 10s infinite linear;
                        }
                    }
                }

                &:nth-child(2) {
                    width: 82.5%;
                    height: 82.5%;

                    >.skill-planet {
                        border: 2px solid #A3B476;
                        color: #A3B476;
                        box-shadow: 0 0 10px #A3B476;
                        font-size: 12px;
                        line-height: 26px;
                        -webkit-animation: travelOrbit 8s infinite linear;
                        animation: travelOrbit 8s infinite linear;
                        -webkit-transform-origin: 50% 597%;
                        transform-origin: 50% 597%;

                        >span {
                            -webkit-animation: unrotate 8s infinite linear;
                            animation: unrotate 8s infinite linear;
                        }
                    }
                }

                &:nth-child(3) {
                    width: 65%;
                    height: 65%;

                    >.skill-planet {
                        border: 2px solid #C77751;
                        color: #C77751;
                        box-shadow: 0 0 10px #C77751;
                        font-size: 9px;
                        line-height: 26px;
                        -webkit-animation: travelOrbit 6s infinite linear;
                        animation: travelOrbit 6s infinite linear;
                        -webkit-transform-origin: 50% 480%;
                        transform-origin: 50% 480%;

                        >span {
                            -webkit-animation: unrotate 6s infinite linear;
                            animation: unrotate 6s infinite linear;
                        }
                    }
                }

                &:nth-child(4) {
                    width: 47.5%;
                    height: 47.5%;

                    >.skill-planet {
                        border: 2px solid #FBAF3F;
                        box-shadow: 0 0 10px #FBAF3F;
                        font-size: 1rem;
                        line-height: 26px;
                        -webkit-animation: travelOrbit 4s infinite linear;
                        animation: travelOrbit 4s infinite linear;
                        -webkit-transform-origin: 50% 363%;
                        transform-origin: 50% 363%;

                        >span {
                            margin: auto;
                            border: 1px solid red;
                            >svg {
                                >.tailwind-logo {
                                    fill: #FBAF3F;
                                    fill-rule: evenodd;
                                }
                            }

                            -webkit-animation: unrotate 4s infinite linear;
                            animation: unrotate 4s infinite linear;
                        }
                    }
                }

                &:nth-child(5) {
                    width: 30%;
                    height: 30%;

                    >.skill-planet {
                        border: 2px solid purple;
                        color: purple;
                        box-shadow: 0 0 10px purple;
                        font-size: 18px;
                        line-height: 26px;
                        -webkit-animation: travelOrbit 3s infinite linear;
                        animation: travelOrbit 3s infinite linear;
                        -webkit-transform-origin: 50% 243%;
                        transform-origin: 50% 243%;

                        >span {
                            -webkit-animation: unrotate 3s infinite linear;
                            animation: unrotate 3s infinite linear;
                        }
                    }
                }

                &:nth-child(6) {
                    width: 117.5%;
                    height: 117.5%;
                    left: -35px;

                    >.skill-planet {
                        border: 2px solid orangered;
                        color: orangered;
                        box-shadow: 0 0 10px orangered;
                        font-size: 18px;
                        line-height: 26px;
                        -webkit-animation: travelOrbit 20s infinite linear;
                        animation: travelOrbit 20s infinite linear;
                        -webkit-transform-origin: 50% 829%;
                        transform-origin: 50% 829%;

                        >span {
                            -webkit-animation: unrotate 20s infinite linear;
                            animation: unrotate 20s infinite linear;
                        }
                    }
                }

                &:nth-child(7) {
                    width: 135%;
                    height: 135%;
                    left: -70px;

                    >.skill-planet {
                        border: 2px solid pink;
                        color: pink;
                        box-shadow: 0 0 10px pink;
                        font-size: 1.2rem;
                        line-height: 26px;
                        -webkit-animation: travelOrbit 23s infinite linear;
                        animation: travelOrbit 23s infinite linear;
                        -webkit-transform-origin: 50% 945%;
                        transform-origin: 50% 945%;

                        >span {
                            -webkit-animation: unrotate 23s infinite linear;
                            animation: unrotate 23s infinite linear;
                        }
                    }
                }

                .skill-planet {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    position: absolute;
                    top: -15px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    font-family: Arial;
                    font-weight: 100;
                    text-align: center;
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    transition: 1s all;
                }
            }
        }

        .skills-top-circle {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fff;
            box-shadow: 0 0 50px #FFEB00;
        }
    }
}